{% block recent_activity_content %}
  <div id="ngds-recent-activity">
    <h4>Recent Activity</h4>
    {% for user in h.get_recent_activity() %}
      <div>
        <a href="{{ h.url_for(controller='package', action='read', id=user['data']['package']['name']) }}"
         target="_blank">{{user['data']['package']['title']|truncate(100)}}</a>

        <p class="data-watch-feed-caption"><span>By <a
          href="{{ h.url_for(controller='user', action='read', id=user['user_id']) }}"
          target="_blank">{{h.username_for_id(user['user_id'])}}</a>, </span>
          <span>{{_('Posted')}} {{ h.get_formatted_date(user['timestamp'])}}</span></p>
      </div>
    {% endfor %}
  </div>
{% endblock %}