{% set featured = h.get_featured_data() %}

<div class="module-content">
  <h3>Featured Data</h3>
  <header>
    {% if featured %}
      {% for data in featured %}
        {% for value in data.values() %}
          {{ h.render_markdown(value) }}
        {% endfor %}
      {% endfor %}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to this USGIN CKAN instance") }}</h1>
      <p>
        {% trans %}This is a <a href="http://usgin.org/">USGIN</a>-customized CKAN data publication 
        platform, created for the <a href="http://geothermaldata.org">National Geothermal Data System</a>.
        {% endtrans %}
      </p>
    {% endif %}
  </header>
</div>