{% set placeholder = _('California volcanic vents') %}
{% set stats = h.get_site_statistics() %}

<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for controller='ckanext.ngds.sysadmin.controllers.view:ViewController', action='homepage_search' %}">
    <h2>Search {{ stats.dataset_count }} {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}</h2>

    <div class="homepage-search">
      <div class="search-text">
        <input type="text" class="search-input control-group search-giant" name="query" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      </div>
      <div class="search-controls">
        <select name="search-type">
          <option value="catalog_search">Catalog Search</option>
          <option value="map_search">Map Search</option>
        </select>
        <button class="btn" type="submit">
          <i class="icon-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>