{% extends "page_ngds.html" %}
{% set active_page = "resources" %}
{%- block content %}

<div class="res-container">
    <div class="res-table">

        <div class="res-websites-section-head">
            <p>Websites</p>
        </div>

        <div class="res-websites-section-content">
            <p>Popular Geothermal Information Websites</p>
            <ul>
                <li><a href="http://www.energy.gov"
                       target="_blank">DOE</a><span> &nbsp; (US Department of Energy)</span></li>
                <li><a href="http://www.usgs.gov" target="_blank">USGS</a><span> &nbsp; (US Geological Survey)</span>
                </li>
                <li><a href="http://www.geothermal.org"
                       target="_blank">GRC</a><span> (Geothermal Resources Council)</span></li>
                <li><a href="http://www.blm.gov" target="_blank">BLM</a><span> (Bureau of Land Management)</span></li>
                <li><a href="http://www.geo-energy.org"
                       target="_blank">GEA</a><span> (Geothermal Energy Association)</span></li>
            </ul>

            <p>State Agencies</p>
            <ul>
                <li><a href="http://www.consrv.ca.gov/dog/" target="_blank">DOGGR</a><span> &nbsp; (Department of Conservation/Division of Oil, Gas, and Geothermal Resources)</span>
                </li>
                <li><a href="http://www.oregongeology.org/" target="_blank">DOGAMI</a><span> (Oregon Department of Geology and Mineral Industries)</span>
                </li>
                <li><a href="http://www.blm.gov" target="_blank">SONRIS</a><span> (Strategic Online Natural Resources Information System)</span>
                </li>
                <li><a href="http://keck.library.unr.edu/Data/GreatBasinGeoScience" target="_blank">Great Basin
                    Geosciene Database</a></li>
            </ul>

            <p>Publications</p>
            <ul>
                <li><a href="http://www.bakerhughes.com/" target="_blank">Baker Hughes</a></li>
                <li><a href="http://pangea.stanford.edu/ERE/research/geoth/publications/" target="_blank">Stanford
                    Publications</a></li>
                <li><a href="http://www.osti.gov/" target="_blank">OSTI</a><span> (Office of Scientific and Technical Information)</span>
                </li>
            </ul>

            <p>Service Industry</p>
            <ul>
                <li><a href="http://www.bakerhughes.com/" target="_blank">Baker Hughes</a></li>
                <li><a href="http://www.slb.com/" target="_blank">Schlumberger</a></li>
            </ul>
        </div>
    </div>

    <div class="res-table">

        <div class="res-websites-section-head">
            <p style="top:30%;">NGDS Nodes</p>
        </div>

        <div class="res-websites-section-content">
            <ul>
                <li><a href="http://geothermal.smu.edu/gtda/" target="_blank">SMU GTDA</a><span> &nbsp; (Southern Methodist University - Geothermal Data Aggregation)</span>
                </li>
            </ul>
        </div>
    </div>


</div>

{% endblock %}

