{% extends "page_ngds.html" %}

{% block subtitle %}{{ _('Login') }}{% endblock %}


{% block content %}
<div id="login-page">
<div class="secondary-content">
  <section>
    <h3 class="module-heading">{{ _('Need an Account?') }}</h3>
    <div >
      <p>{% trans %}Then sign right up, it only takes a minute.{% endtrans %}</p>
      <p class="action">
        <a class="btn" href="{{ h.url_for(controller='user', action='register') }}">{{ _('Create an Account') }}</a>
      </p>
    </div>
  </section>

  <section >
    <h3 class="module-heading">{{ _('Forgotten your details?') }}</h3>
    <div >
      <p>{% trans %}No problem, use our password recovery form to reset it.{% endtrans %}</p>
      <p class="action">
        <!-- <a class="btn" href="{{ h.url_for(controller='user', action='request_reset') }}">{{ _('Forgot your password?') }}</a> -->
        <a class="btn not-implemented" href="#" >{{ _('Forgot your password?') }}</a> 
      </p>
    </div>
  </section>


  
</div>


<div class="primary-content">
      <h1 class="page-heading">{{ _('Login') }}</h1>
<!--       <form action="{{ c.login_handler }}" method="post" class="form-horizontal">
        <div class="control-group control-medium">
          <label class="control-label" for="field-login">{{ _('Username') }}</label>
          <div class="controls">
            <input id="field-login" type="text" name="login"  placeholder="username" class="control-medium">
          </div>
        </div>

        <div >
          <label for="field-password">{{ _('Password') }}</label>
          <input id="field-password" type="password" name="password" placeholder="password" class="control-medium">
        </div>

        <div >
            <label class="checkbox" for="field-remember">
              <input id="field-remember" type="checkbox" name="remember" value="63072000" checked="">
              {{ _('Remember me') }}
            </label>
        </div>
        <div >
          <button class="btn btn-primary" type="submit">{{ _('Log in') }}</button>
        </div>
      </form>   -->
       {% block form %}
        {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
      {% endblock %}
</div>


</div>
{% endblock %}