{% extends "page_ngds.html" %}

{% block subtitle %}{{ _('Register') }}{% endblock %}

{% block content %} 
<div id="login-page">

<div class="secondary-content">
  <section >
    <h2 class="module-heading">{{ _('Why Sign Up?') }}</h2>
    <div >
      <p>{% trans %}Create datasets, groups and other exciting things{% endtrans %}</p>
    </div>
  </section>
</div>	
<div class="primary-content">
      <h1 class="page-heading">{{ _('Register for an Account') }}</h1>
      {{ c.form | safe }}
</div>


</div>
{% endblock %}