{% extends "page_ngds.html" %}
{% set active_page = "map" %}

{%- block content %}

<div class="map-search" style="float:left;">
	<span class="main-menu-item left">Search</span>
	<p class="map-search-desc">Known geothermal resource area, latitude/longitude, geothermal area</p>
	<form action="javascript:ngds.Map.map_search()">
		<fieldset>
			<input id="map-query" type="text"/>
			<input id="map-search" type="submit" value="Go"/>
		</fieldset>
	</form>

</div>

<div id="map-container" style="width:695px; height:600px; float:right; position:relative;"></div>
<div class="map-search-results" style="float:left;">
	<div class="preamble-container">
		<div class="preamble"></div>
	</div>
	<div class="results"></div>
	<div class="search-results-pagination">
		<div class="search-results-page-nums"></div>
	</div>
 </div>	
<!-- <div id="temporary-wms-div" style="position:absolute; bottom:0px; left:0px; background-color:#dadada; width:310px;">
	<label for="wms" style="font-family:arial; font-size:12px;">Temporary WMS viewer</label>
	<input name="wms" type="text" id="wms" style="width:150px;">
</div> -->
{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
	<link rel="stylesheet" href="/vendor/leaflet/leaflet.css" />
	<link rel="stylesheet" href="/vendor/leaflet-draw/leaflet.draw.css" />
	<link rel="stylesheet" href="/vendor/iconlabel/leaflet.iconlabel.css" />
	{{ super() }}
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script type="application/javascript" src="/vendor/leaflet/leaflet.js"></script>
	<script type="application/javascript" src="/vendor/leaflet-draw/leaflet.draw.js"></script>
	<script type="text/javascript" src="/scripts/ckanlib/CKANDataset.js"></script>
	<script type="text/javascript" src="/scripts/ckanlib/ckanlib.js"></script>
	<script type="text/javascript" src="/scripts/map/ngds_map.js"></script>
	<script type="text/javascript" src="/scripts/map/bounding_box.js"></script>
	<script type="text/javascript" src="/scripts/map/map.js"></script>
	<script type="text/javascript" src="/scripts/map/AgsDynamicLayer.js"></script>
	<script type="text/javascript" src="/scripts/ckanlib/search_result.js"></script>
	<script type="text/javascript" src="/scripts/map/pager.js"></script>
	<script type="text/javascript" src="/vendor/iconlabel/leaflet.iconlabel.js"></script>
{% endblock %}    
