{# Tell CKAN to extend the base.html page instead of overwriting it #}
{% ckan_extends %}

{# Set custom NGDS website title #}
{% block title %}
    NGDS - National Geothermal Data System
{% endblock %}

{# Override CKAN's vanilla CSS #}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/vendor/bootstrap-v3.2.0.min.css" />
    <link rel="stylesheet" href="/style/base.css" />
{% endblock %}

{# Override CKAN's vanilla javascript #}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="vendor/bootstrap-v3.2.0.min.js"></script>
{% endblock %}