{% ckan_extends %}

<footer class="site-footer">
  <div class="container">
  {% block footer_content %}
      {% block footer_nav %}
      <div class="row-fluid">
        <div class="span4">
          <ul class="unstyled">
          {% block footer_site_search %}
            <p>{% trans %}<strong>Sitewide Search</strong>{% endtrans %}</p>
            <li>
              <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
                <div class="field">
                  <label for="field-sitewide-search">{% block footer_site_search_label %}{{ _('Search NGDS') }}{% endblock %}</label>
                  <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search NGDS') }}" />
                  <button class="btn-search" type="submit"><i class="icon-search"></i></button>
                </div>
              </form>
            </li>
            <br>
            <br>
            <li class="github-link">
              <a href="http://github.com/ngds/ckanext-ngds" target="_blank">
                <i class="fa fa-github"></i>Github
              </a>
            </li>
          {% endblock %}
          </ul>
        </div>
        <div class="span2">
          <ul class="unstyled">
            <p>{% trans %}<strong>Find & Use NGDS Data</strong>{% endtrans %}</p>
            {% block header_site_navigation_tabs %}

              {{ h.build_nav_main(
                ('search', _('Data')),
                ('map_search', _('Map')),
              ) }}

	      <li><a href="{{ h.ngds_aggregator_url() }}/data/develop">Developers</a></li>
	      <li><a href="{{ h.ngds_aggregator_url() }}/help">Help</a></li>
	      <li><a href="{{ h.ngds_aggregator_url() }}/contact">Contact</a></li>

            {% endblock %}
          </ul>
        </div>
        <div class="span3">
          <ul class="unstyled">
            {% block footer_about_links %}
              <p>{% trans %}<strong>Who We Are</strong>{% endtrans %}</p>
              <li><a href="{{ h.ngds_aggregator_url() }}/about">{{ _('About the {0}').format(g.site_title) }}</a></li>
              <li><a href="{{ h.ngds_aggregator_url() }}/about/partners">{{ _('Our partners') }}</a></li>
              <li><a href="{{ h.ngds_aggregator_url() }}/about/getting-started">{{ _('Getting started') }}</a></li>
            {% endblock %}
          </ul>
        </div>
        <div class="span3">
          <ul class="unstyled">
            {% block footer_links %}
              <p>{% trans %}<strong>Learn About NGDS</strong>{% endtrans %}</p>
              <li><a href="{{ h.ngds_aggregator_url() }}/data/publish-data">{{ _('How to submit data') }}</a></li>
              <li><a href="{{ h.ngds_aggregator_url() }}/data/contribute-data">{{ _('Curate data contributions') }}</a></li>
              <li><a href="{{ h.ngds_aggregator_url() }}/ngds-exchange-methods-and-metadata">{{ _('Data models, exchange methods, and metadata') }}</a></li>
              <li><a href="{{ h.ngds_aggregator_url() }}/data/develop">{{ _('Develop custom applications') }}</a></li>
            {% endblock %}
          </ul>
        </div>
      </div>
      {% endblock %}
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
