<div id="footer"> <!-- Start of footer section -->
		<div class="row">	
			<div class="footer-links-feedback-caption-container">
				<div id ="footer-links-section">
					<div>
						<p>About NGDS</p>				
						<span><a class="footer-link not-implemented" href="#">Partners</a></span>				
						<span><a class="footer-link not-implemented" href="#">Data</a></span>
						<span><a class="footer-link not-implemented" href="#">History</a></span>
					</div>
					<div>
						<p>Help</p>				
						<span><a class="footer-link not-implemented">New to NGDS?</a></span>
						<span><a class="footer-link not-implemented">Get started now.</a></span>
						<span><a class="footer-link not-implemented">FAQ's</a></span>
					</div>	
					<div>
						<p>I want to ...</p>				
						<span><a class="footer-link not-implemented">Contribute data to NGDS</a></span>
						<span><a class="footer-link not-implemented">Contact NGDS</a></span>
						<span><a class="footer-link not-implemented">View my saved searches</a></span>
						<span><a class="footer-link not-implemented">Share my favorites</a></span>
					</div>		

				</div>
				 <div id="feedback-section">
		          <p> How do you like our website? <button type="submit">Give us feedback</button></p>
		        </div>
			</div>

			<div id="data-contributors-container">
				<p>Hello, we share data with NGDS</p>
				<p><span>AZGS</span></p>
				<p><span>SMU</span></p>
				<p><span>EGI</span></p>
				<p><span>SMU</span></p>
				<p><span>SCR</span></p>
				<p><span>SCR</span></p>
				<p><span>SCR</span></p>
				<p><span>SCR</span></p>
				<p><span>SCR</span></p>
			</div>
		</div>
		</div>
	<div class="postface">
		<div class="left">
		    <p>&copy; US DEPARTMENT OF ENERGY</p>
		</div>
		<div class="right">
		    <span class="left"><a href="{% url_for controller='ckanext.ngds.ngdsui.controllers.home:HomeController', action='render_index' %}">HOME</a></span>
		    <span class="center"><a class="not-implemented">CONTACT</a></span>
		    <span class="right"><a class="not-implemented">TERMS OF USE &amp; PRIVACY</a></span>
		</div>
	</div>		

<div id="not-implemented-popup" style="background-color:#d9d9f3; border:1px dotted black; position:absolute; top:300px; width:400px; height:300px; left:35%; display:none;">
	<p style="font-family:Arial; font-size:18px; margin-top:125px;">Not implemented yet!<br/><br/> <b>Click anywhere or push ESC to hide me.</b></p>
</div>
<!-- {# snippet "snippets/language_selector.html" #} -->