<div id="footer"> <!-- Start of footer section -->
			<div class="footer-links-feedback-caption-container">
				<div id ="footer-links-section">
					<div>
						<p>About NGDS</p>				
						<span><a class="footer-link" href="#">Partners</a></span>				
						<span><a class="footer-link" href="#">Data</a></span>
						<span><a class="footer-link" href="#">History</a></span>
					</div>
					<div>
						<p>Help</p>				
						<span><a class="footer-link">New to NGDS?</a></span>
						<span><a class="footer-link">Get started now.</a></span>
						<span><a class="footer-link">FAQ's</a></span>
					</div>	
					<div>
						<p>I want to ...</p>				
						<span><a class="footer-link">Contribute data to NGDS</a></span>
						<span><a class="footer-link">Contact NGDS</a></span>
						<span><a class="footer-link">View my saved searches</a></span>
						<span><a class="footer-link">Share my favorites</a></span>
					</div>		

				</div>
				<div id="feedback-section">
					<img src="/images/u164_normal.png"/>
					<p> How do you like our website? Give us feedback.</p>
				</div>
			</div>

			<div id="data-contributors-container">
				<p>Hello, we share data with NGDS</p>
				<span><p>AZGS</p></span>
				<span><p>SMU</p></span>
				<span><p>EGI</p></span>
				<span><p>SMU</p></span>
				<span><p>SCR</p></span>
				<span><p>SCR</p></span>
				<span><p>SCR</p></span>
				<span><p>SCR</p></span>
				<span><p>SCR</p></span>
			</div>
			
		</div>