
		{#
			pass in the tab that is being rendered and the active_tab variable that we get from the controller. This will determine which menu item is shaded.
		#}
		<div id="header">
				<div class="logo-container">
					<a href="/ngds" class="logo">
							<img src="/images/u50_normal.png" alt="National Geothermal Data System. Reduce Risk, Increase Certainty.">
							<span>REDUCE RISK, INCREASE CERTAINTY</span>
					</a>
				</div>
				<div id="top-nav">
					<ul>
						<li><a href="/ngds">HOME</a></li>
						<li><a href="/ngds/about">ABOUT</a></li>
						<li><a href="#">SIGN UP</a></li>
						<li><a href="#" id="login">LOGIN</a></li> 
						<li><a href="#">FAVORITES</a></li>
					</ul>
					<div id="login-popup">
						<p>Your email address:</p>
						<input type="text" value="username" id="username">
						<p class="float-left">Your password:</p><a class="float-right fit-to-login-div">Forgot?</a>
						<input type="password" value="password" id="password"><br>
						<input type="checkbox" value="__" name="login_remember_me"><span>Remember me</span>
						<button>Login</button>
					</div>
				</div>
				<div id="main-nav"> <!-- This is a container div for the second-level menu. -->
					<div>
						<a href="/ngds/map">
							{% if active_tab == "map" %} <span class="active main-nav-span"> {% else %} <span class="main-nav-span"> {% endif %}
								<span class="main-menu-item">Map</span>
								<img src="/images/u52_normal.png" alt="V">
								<span class="main-menu-text">Find data for a specific geographic area</span>
							</span>
						</a>
					</div> 
					<div>
						<a href="/ngds/library">
							{% if active_tab == "library" %} <span class="active main-nav-span"> {% else %} <span class="main-nav-span"> {% endif %}	
								<span class="main-menu-item">Library</span>
								<img src="/images/u52_normal.png" alt="V">
								<span class="main-menu-text">Look up data, images, publications & more</span>
							</span>
						</a>
					</div> 
					<div>
						<a href="/ngds/resources">
							{% if active_tab == "resources" %} <span class="active main-nav-span"> {% else %} <span class="main-nav-span"> {% endif %}	
								<span class="main-menu-item">Resources</span>
								<img src="/images/u52_normal.png" alt="V">
								<span class="main-menu-text">Use or add to our list of websites & tools for geothermal exploration</span>
							</span>
						</a>
					</div>
					<div>
						<a href="/ngds/contribute">
							{% if active_tab == "contribute" %} <span class="active main-nav-span"> {% else %} <span class="main-nav-span"> {% endif %}	
								<span class="main-menu-item">Contribute</span>
								<img src="/images/u52_normal.png" alt="V">
								<span class="main-menu-text">Share data, learn about the National Geothermal Data System</span>
							</span>
						</a>
					</div>
				
				</div>
		</div> <!-- End of header -->

