{% extends 'page_ngds.html' %}

{% block content %}

<h2>Help</h2>

<section class="help-main">

    <section class="help-content">
		
	<p>Here you will find additional information that can help you successfully use the following site features to access data through the National Geothermal Data System (NGDS):</p>


	<ul>
	<li><a href="#search">Search feature</a></li>
	<li><a href="#map">Map interface</a></li>
	<li><a href="#library">Library</a></li>
	</ul>

<a id="search" name="search"><h3>Search Feature</h3>

<p>This site&rsquo;s search feature provides access to a catalog of available geothermal resource data by indexing a database of metadata about those resources.&nbsp;</p>

<p>Metadata is basically &ldquo;data about the data&rdquo; &ndash; it is keywords and terms that the data contributors have used to describe each data resource.&nbsp; When you type a search word or phrase into the search box, the NGDS compares it to the metadata records and returns the most appropriate records.&nbsp; Information on how to access a given data resource is contained in the metadata records returned in the search results.</p>
        
    </section>

    <section id="ngds/map" class="help-content">

        <a id="map" name="map"><h3>Map Interface</h3>
		
		<p>The <a href="ngds/map">map interface</a> is typically used when you want to see a geographic distribution of data sites that may be of interest to you.</p> 
		<p>You can use the map to search the NGDS either by typing a keyword into the search box or by using your mouse to draw a “bounding box.”  A bounding box delineates geographic parameters on the map and the system retrieves the records that fall within those parameters. </p>
		<p>Search results are displayed in list form and as colored circles on the map. </p>
		<p>Map controls are as follows:</p>

		<ul>
		<li><strong>Search by Keyword</strong> (<img src="/images/help/screen-map_controls-search.PNG"></img>): Enter search terms and press the <strong>Enter</strong> key; the results will appear in list form beneath the search field as well as on the map.</li>
		<li><strong>Zoom In</strong> (<img src="/images/help/screen-map_controls-zoom_in.PNG"></img>): Zooms in on the map.</li>
		<li><strong>Zoom Out</strong> (<img src="/images/help/screen-map_controls-zoom_out.PNG"></img>): Zooms out.</li>
		<li><strong>Draw a Rectangle (or "Bounding Box")</strong> (<img src="/images/help/screen-map_controls-search_by_area.PNG"></img>): Use this tool to search for results within a given area by drawing a rectangle on the map.  Any record describing features within the bounding box you drew will appear as search results.</li>
		<li><strong>Zoom to Extent</strong> (<img src="/images/help/screen-map_controls-zoom_to_extent.PNG"></img>): Zoom to the original extent of the map.</li>
		<li><strong>Active Layer Menu</strong> (<img src="/images/help/screen-map_controls-active_layer_menu.PNG"></img>): Mouseover for a toggle-able list of active layers in the map. This menu is populated as users choose to add available WMS resources to the map from their search queries.</li>
		<li><strong>Search Results Menu</strong> (<img src="/images/help/screen-map_controls-search_results_menu.PNG"></img>): Toggle a menu of search results. This widget has some automatic capabilities; if a user makes a query by bounding box or keyword, the search results menu will automatically toggle itself.</li>    
		</ul>
		
    </section>
	
    <section id="dataset" class="help-content">

        <a id="library" name="library"><h3>Library</h3>

<p>The <a href="dataset?_tags_limit=0">Library interface</a> allows you to use keywords and phrases to search the data records. Once you have results, you can narrow them to find the records you are looking for by choosing a set of criteria by which to filter your results.</p>

<p><strong>Narrowing Your Search Results</strong></p>

<ol>
	<li>Type a keyword or phrase into the search box to receive an initial set of results.</li>
	<li>Choose one or more of the filter topics from the left side of the screen:<br>
	<img src="/images/help/screen-map_narrow_search.PNG"></img>
	
	</li>
	<li>Within each topic, check the box by the criteria you wish to use as your filter(s):<br>
	<img src="/images/help/screen-map_narrow_search_filter.PNG">
	<br>Selecting a check box will automatically update your search results to show only data that match the criteria you have selected. Note that you can use multiple criteria simultaneously to filter your results.</li>
	<li>To remove a filter, select the name of the filter at the top of the screen:<br>
	<img src="/images/help/screen-map_remove_search_filter.PNG">
	</li>
</ol>
<p>You can filter your search results using the following topics:</p>

<ul>
	<li><strong>Category</strong>: Filter results by category and subcategory. For example, the category &ldquo;drilling technology&rdquo; includes a variety of subcategories related to drilling, such as the presence or absence of casing diagrams.</li>
	<li><strong>Format</strong>: Filter results by format of the documents or datasets. Formats include data types and online resources, such as Web services.</li>
	<li><strong>Source &amp; Author</strong>: Filter results by data source and/or author.</li>
	<li><strong>Status</strong>: Filter results by the status of the data within the context of the NGDS project. Data status tends to reflect the state of completion of that data. For example, typical NGDS documents or datasets will be either completed, ongoing, or deprecated.</li>
	<li><strong>Content Model</strong>: Filter results by the content model to which the data conforms. All Tier 3 NGDS data conforms to a specific content model, which reflect properties of a given data set. A search for a specific content model would return results of data structured to conform to that content model.</li>
	<li><strong>Public/Private</strong>: Filter results by the visibility of the data. When published, data contributors can designate whether or not a given document or dataset is publicly accessible or private. A setting of &ldquo;private&rdquo; renders the dataset invisible in public searches.</li>
</ul>

       
    </section>

    <section id="ngds/resources" class="help-content">

        <h3>Resources</h3>
	<p>A number of resources are available to NGDS users in the form of applications developed for NGDS and applications compatible with NGDS data. A full list of these are available on the <a href="ngds/resources">Resources page</a>.</p>
        
    </section>

</section>
{% endblock %}
