{% extends 'page_ngds.html' %}

{% block content %}
<section class="help-main">

    <section class="help-content">

        <h3>General</h3>

        <p>The National Geothermal Data System (NGDS) is a distributed data system providing access to information
            resources related to geothermal energy from a network of data providers. Data are contributed by academic
            researchers, private industry, and state and federal agencies. Built on a scalable and open platform through
            the U.S. Geoscience Information Network (USGIN), NGDS respects data provenance while promoting shared
            resources. Since NGDS is built using a set of open protocols and standards, relying on the Open Geospatial
            Consortium (OGC) and International Organization for Standardization (ISO), members of the community may
            access the data in a variety of proprietary and open-source applications and software. In addition,
            developers can add functionality to the system by creating new applications based on the open protocols and
            standards of the NGDS.</p>

        <p>The NGDS, supported by the U.S. Department of Energy’s Geothermal Technology Program, is intended to provide
            access to all types of geothermal data to enable geothermal analysis and widespread public use in an effort
            to reduce the risk of geothermal energy development.</p>
			
		<p>This website, the NGDS Node-in-a-Box, is a CKAN extension designed to facilitate user access to NGDS data resources by providing a search interface for the NGDS metadata catalog. The NGDS metadata catalog is a collection of metadata records that describe NGDS data resources; users can use these metadata records to locate and access the data resources described by these metadata records. In addition, the NGDS Node-in-a-Box provides users with utilities that can be used to create and manage metadata records within the NGDS metadata catalog.</p>

        <p>Download a two-page handout on the NGDS created by the Department of Energy’s Geothermal Technologies
            Program.</p>
    </section>

    <section id="organization/public" class="help-content">

        <h3>Searching</h3>

        <p>The NGDS metadata catalog performs searches based on <em>metadata</em>.</p>
		<p>Metadata is data used for organizational purposes. Often, metadata is used to organize other types of data or data containers (the distinction between data and data containers is often inconsequential).</p>
		<p>A public library is a classic example of metadata in action. In a public library, data is stored in books (which act as data containers, but are physically difficult to distinguish from the data they contain). Librarians use metadata to organize these books and the data they contain. Metadata describing books includes the book’s title, author, date of publication, and subject. A card catalog is a repository for metadata about library books.</p>
		<p>In the case of the NGDS metadata catalog accessible through this website, metadata records perform the same functions as cards in a public library catalog: each metadata record in the catalog describes an NGDS data resource in ways that help users locate and access that resource. 
    </section>

    <section id="ngds/map" class="help-content">

        <h3>Map</h3>

        <p>The map is used to search the NGDS metadata catalog; search results are displayed in list form in the search interface on the left side of the map; and as colored rectangles on the map representing the physical extent of the features described by each dataset. Map controls are as follows:</p>
		<ul>
		<li><strong>Search by Keyword</strong> (image): Search the metadata catalog by keyword(s); enter search terms and press the <strong>Enter</strong> key or click the <strong>magnifying glass</strong> button; the results will appear in list form beneath the search field as well as on the map</li>
		<li><strong>Draw a Rectangle</strong> (image): Use this tool to search for results within a given area by drawing a rectangle on the map. When you have drawn a rectangle, click the <strong>magnifying glass</strong> button; any dataset describing features within the box you have just drawn will appear as search results</li>
		<li><strong>Clear Rectangle</strong> (image): Use this tool to stop drawing a rectangle or remove a rectangle that you have drawn with the <strong>Draw a Rectangle tool</strong></li>
		<li><strong>Clear Results</strong> (image): Click this button to remove all search results from the map</li>
		<li><strong>Show/Hide Results</strong> (image): Click this button to toggle the visibility of search results</li>
		<li><strong>Center Results</strong> (image): Click this button beneath a given search result to center those results on the map</li>
		<li><strong>Zoom In</strong> (image): Click this button to zoom in on the map</li>
		<li><strong>Zoom Out</strong> (image): Click this button to zoom out</li>
		<li><strong>Full Screen</strong> (image): Click this button to view the view the metadata catalog search in fullscreen mode; note that leaving fullscreen mode will clear your search results</li>
		<li><strong>Basemap</strong> (image): Mouse over this button to reveal a dropdown list of different <em>basemaps</em>. Basemaps are maps that are used as a background for the NGDS metadata catalog search map. Click the desired basemap in the basemap menu to change the basemap for the catalog search map. Basemaps can be changed at any time</li>
		</ul>
    </section>

    <section id="dataset" class="help-content">

        <h3>Library</h3>

        <p>The <strong>Library</strong> page acts as a keyword search interface for the NGDS metadata catalog. Here, users can search through NGDS datasets by keyword and filter the results based on criteria that expand as more metadata records are added to the catalog. Search results can be filtered by multiple criteria simultaneously. Filter criteria are as follows:</p>
		<ul>
		<li><strong>Category</strong>: Filter results by category and subcategory. For example, one category is drilling technology, which includes a variety of subcategories related to drilling, such as the presence or absence of casing diagrams; clicking the checkbox associated with any these subcategories will exclude any datasets that do not include the indicated  information.</li>
		<li><strong>Format</strong>: Filter results by dataset format; formats include data types and online resources, such as web services. Clicking the checkbox associated with any of these formats will exclude any datasets that do not match the indicated format(s).</li>
		<li><strong>Source & Author</strong>: Filter results by source and-or author; clicking the checkbox associated with a specific source or author will exclude any datasets not submitted by the indicated source(s) or author(</li>
		<li><strong>Status</strong>: Filter results by the status of the dataset within the context of the NGDS project; dataset status tends to reflect the state of completion of the dataset. Clicking the checkbox associated within a given state will exclude any datasets that fall outside the selected state.</li>
		<li><strong>Content Model</strong>: Filter results by the content model to which the dataset conforms. Each NGDS dataset conforms to a specific content model; clicking the checkbox beside a specific content model will exclude any datasets that do not conform to the indicated content model(s).</li>
		<li><strong>Public/Private</strong>: Filter results by the visibility of the dataset. When published, users can designate whether or not a given dataset is publicly accessible of listed privately; clicking the appropriate checkbox will exclude datasets on the basis of whether or not they are public or private.</li>
    </section>

    <section id="ngds/resources" class="help-content">

        <h3>Resources</h3>

        <p>A list of resources for NGDS users (description pending a finalized list of user resources).</p>
    </section>

    <section id="harvest" class="help-content">

        <h3>Contribute</h3>

        <p>The <strong>Contribute</strong> page allows users to contribute to NGDS by creating and managing metadata records. To contribute, you need to <strong>sign up</strong> for an account and click <strong>Contribute</strong>; you will be prompted to log in to your account if you have not already logged in.</p>
		
		<p>Having clicked <strong>Contribute</strong> and logged in, you will see the <strong>Contribute</strong> page. Here, you are presented with two options:</p>
		<ul>
		<li><strong>Individual Upload</strong>: Users create a collection and then add one or more metadata records to the collection; each metadata record describes a data resource. During the metadata record creation process, the user can bind the metadata record to the dataset it describes in one of two ways:<ul>
		<li>By providing a hyperlink to a preexisting web-accessible dataset</li>
		<li>By uploading their data to the Node-in-a-Box repository</li></ul></li>
		<li><strong>Bulk Upload</strong>: Users upload large numbers of datasets simultaneously in a single zip file; metadata records are generated automatically.</li></ul>
		<p>To proceed, click either <strong>Individual Upload</strong> or <strong>Bulk Upload</strong>; these options are described below. 
		
		<h4>Individual Uploads</h4>
		<p>Performing an individual upload is a three-step process:</p>
		<ul>
		<li><strong>Create a Collection</strong>: Create a collection, in which you will store your metadata record(s)</li>
		<li><strong>Add Data</strong>: Add one or more metadata records to the collection; each metadata record describes a data resource, which will be either specified or uploaded in this step</li>
		<li><strong>Collection Metadata</strong>: Provide metadata that applies to all metadata records in your collection</li>
		</ul>
		<p>These steps are described further in the following sections</p>
		<h4>Individual Upload Step 1: Create a Collection</h4>
		<p>Clicking <strong>Individual Upload</strong> on the <strong>Contribute</strong> page will bring you to the <strong>Create a Collection</strong> form; as the name implies, populating this form will create a collection, which is the first step of the <strong>Individual Upload</strong> process. The fields on this form are as follows:</p>
		<ul>
		<li><strong>Title</strong>: The title of your collection</li>
		<li><strong>URL</strong>: The URL at which your collection can be found. This URL is automatically generated when you enter a <strong>Title</strong>, but you can modify it manually if you wish</li>
		<li><strong>Description</strong>: A blurb providing a description of your collection and the metadata records stored in it</li>
		<li><strong>Tags</strong>: Keywords that can be used to search for your collection and any metadata records within it</li>
		<li><strong>License</strong>: The license under which any dataset(s) described by metadata records within this collection are published; among other things, the license determines the manner in which the dataset described by the metadata in this collection can be reused</li>
		</ul>
		<p>When you are finished, click <strong>Next: Add Data</strong>.</p>
		<h4>Individual Upload Step 2: Add Data</h4>
		<p>Clicking <strong>Next: Add Data</strong> on the <strong>Create Collection</strong> form brings you to the <strong>Add Data</strong>. Here, you create a metadata record describing a specified data resource and add this metadata record to the collection you created in Step 1. Fields found on this form regardless of data resource type are as follows:</p>
		<ul>
		<li><strong>Resource</strong>: The URL by which the data resource described by your metadata record can be accessed; if you choose to upload a data resource to the NGDS Node-in-a-Box Repository, this field will be automatically populated</li>
		<li><strong>Name</strong>: The name of the data resource described by your metadata record as it will appear in the metadata catalog</li>
		<li><strong>Description</strong>: A brief description of the data resource described by your metadata record</li>
		</ul>
		<p>Data resource types are as follows:</p>
		<ul>
		<li><strong>Structured Resource</strong>: Data that has been mapped to an interchange format such as an NGDS data exchange content model; if your data has been mapped to an NGDS data exchange content model, you will be given the opportunity to specify the content model to which your data has been mapped. Fields specific to this resource type are as follows:
		<ul>
		<li><strong>Content Model</strong>: The NGDS content model to which the data resource described by your metadata record conforms</li>
		<li><strong>Content Model Version</strong>: The NGDS content model version to which the data resource described by your metadata record conforms</li>
		<li><strong>Distributor</strong>: The individual or agency responsible for distributing the data resource described by your metadata record</li>
		<li><strong>File Format</strong>: The file format of the data resource described by your metadata record</li>
		</ul>
		</li>
		<li><strong>Unstructured Resource</strong>: Data such as plain text, a scanned image, or a sound file that cannot be processed or analyzed by machines without user input. Fields specific to this resource type are as follows:
		<ul>
		<li><strong>Distributor</strong>: The individual or agency responsible for distributing this dataset described by your metadata record</li>
		<li><strong>Format</strong>: The file format of the data resource described by your metadata record</li>
		</ul>
		</li>
		<li><strong>Offline Resource</strong>: A data resource that is only available in print format. Fields specific to this resource type are as follows:
		<ul>
		<li><strong>Ordering Procedure</strong>: The manner in which the data resource described by your metadata record can be procured</li>
		</ul>
		</li>
		<li><strong>Data Service</strong>: Data that is available as a <em>web service</em>; here, you will be asked to specify the type of web service. Fields specific to this resource type are as follows:
		<ul>
		<li><strong>Distributor</strong>: The individual or agency responsible for distributing the data resource described by your metadata record</li>
		<li><strong>Protocol</strong>: The specific web service protocol used by the web service you have specified as the data resource described by your metadata record; examples include:
		<ul>
		<li><strong>WMS</strong>: Open Geospatial Consortium (OGC) web map service (WMS); typically used to provide raster images of georeferenced features</li>
		<li><strong>WFS</strong>: Open Geospatial Consortium (OGC) web feature service (WFS); typically used to provide georeferenced features described by attributes</li>
		<li><strong>ESRI Map Service</strong>: Protocol used by web services generated through ESRI ArcGIS software; provides both georeferenced rasters and georeferenced features described by attributes</li>
		<li><strong>CSW</strong>: Open Geospatial Consortium (OGC) catalog service for the web (CSW); typically used to store and exchange metadata records; these metadata records are often used to locate other web services</li>
		<li><strong>OPeNDAP</strong>: Web service protocol typically used to provide georeferenced raster datasets</li>
		</ul>
		</li>
		<li><strong>Layer</strong>: The label for a given data service when it is viewed as a layer in a GIS application</li>
		</li>
		</ul>
		</ul>
		<p>When you have populated the appropriate fields, you have two choices:</p>
		<ul>
		<li>Click <strong>Save & add another</strong> to add another metadata record to the collection; this will repeat the steps described in Step 2</li>
		<li>Click <strong>Next: Additional Info</strong> to finalize your metadata record by adding collection metadata</li>
		</ul>
		<h4>Individual Upload Step 3: Collection Metadata</h4>
		<p>Clicking <strong>Next: Additional Info</strong> brings you to the <strong>Collection Metadata</strong> form. Here, you will provide metadata that applies to the collection you created in Step 1 and the metadata records within it you created in Step 2.</p>
		<p>The <strong>Collection Metadata</strong> form includes the following fields:</p>
		<ul>
		<li><strong>Visibility</strong>: Determines whether or not your collection and the metadata records within it are visible to the public</li>
		<li><strong>Authors</strong>: The authors of the data resource(s) described by metadata record(s) in the collection</li>
		<li><strong>Maintainer</strong>: The individual or agency responsible for the data resource(s) described by metadata record(s) in the collection</li>
		<li><strong>Spatial Location</strong>: A rough approximation of the features in the data resource(s) described by metadata record(s) in the collection</li>
		<li><strong>Category</strong>: A description of the type of data resource(s) described by metadata record(s) in the collection</li>
		<li><strong>URI</strong>: A <em>uniform resource identifier</em> for the collection; see the <a href="http://usgin.org/content/usgin-uri-tutorial" target="_blank">USGIN URI Tutorial</a> for more information</li>
		<li><strong>Quality</strong>: A rough assessment of the quality of the data resource(s) described by metadata record(s) in the collection</li>
		<li><strong>Lineage</strong>: The provenance of data resource(s) described by metadata record(s) in the collection</li>
		<li><strong>Status</strong>: The workflow status of data resource(s) described by metadata record(s) in the collection</li>
		<li><strong>Publication Date</strong>: The date on which data resource(s) described by metadata record(s) in the collection were published</li>
		<li><strong>Language</strong>: The language in which the data resource(s) described by metadata record(s) in the collection are written</li>
		<li><strong>Dataset Extent</strong>: The physical extent of features in the data resource(s) described by metadata record(s) in the collection; click the <strong>Draw a rectangle button</strong> (image) to draw a box indicating the dataset extent</li>
		</ul>
		<p>When you are done, click <strong>Finish</strong>. This will finalize your collection and all metadata records within it; these records will be added to the catalog.</p>
		<h4>Bulk Uploads</h4>
		<p>Clicking <strong>Bulk Upload</strong> brings you to the <strong>Bulk Upload</strong> form. Here, you have the opportunity to upload a .ZIP file containing numerous data resources; the Bulk Upload feature will automatically generate metadata records for each data resource in the ZIP file</p>
		<p>To proceed, click the <strong>Choose File</strong> button on the second row; in the window that appears, locate the desired .ZIP file and click <strong>Open</strong>. In the <strong>Bulk Upload</strong> form, click <strong>Submit</strong>.
    </section>

    <section id="datasetDetails" class="help-content">

        <h3>Data Set Details</h3>

        <p>This is placeholder content.</p>
    </section>

    <section id="resourceDetails" class="help-content">

        <h3>Resource Details</h3>

        <p>This is placeholder content.</p>
    </section>

</section>
{% endblock %}