{% extends "base.html" %}
{% block doctype %}
<!DOCTYPE html>
{% endblock %}
{% block title %} 
	NGDS - National Geothermal Data System 
{% endblock %}

{% block links -%}
  
{% endblock -%}

## Include our css resources in this block
{% block styles %}
	<link rel="stylesheet" type="text/css" title="Demo Stylesheet"  href="/css/default.css"/>
  <link rel="stylesheet" type="text/css" href="/scripts/jqueryui/css/smoothness/jquery-ui-1.10.0.custom.css"/>
{% endblock %}
{% block bodytag %}
{%- endblock -%}

{%- block page -%}

   <div id="top-level-container">
  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {%- block header %}
  {% set active_tab = active_page %}  
    {% include "header_ngds.html" %}
  {% endblock -%}

  {# The content block allows you to replace the content of the page if needed #}
  <div id="body-container">
  {% if active_page=="library" %}
    <div id="content-container" style="min-height:600px;">
      {% elif active_page=="home"%}
    <div id="content-container" style="padding-bottom:130px;">
      {% else %}
    <div id="content-container">
      {% endif %}
  {%- block content %}
 
     
  {% endblock -%}
    </div>
  </div>

  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {%- block footer %}
    {% include "footer_ngds.html" %}
  {% endblock -%}
  </div>
{%- endblock -%}

{%- block scripts %}
   <script type="text/javascript" src="/scripts/jquery-1.9.0.js"></script>
   <script type="text/javascript" src="/scripts/scripts.js"></script>   
  <script type="text/javascript" src="/scripts/jqueryui/js/jquery-ui-1.10.0.custom.js"></script>
{% endblock -%}

