{% extends "admin/config.html" %}

{% block primary_content_inner %}
  <form method='post' action="" class="form-horizontal featured-data-form">
    {% block admin_form %}
      {% for item in data %}
        <div id="featured-data-md">
          {{ autoform.generate(form_items, item, errors) }}
        </div>
      {% endfor %}
      <button class="btn btn-success" type="button" data-module="ngds_sysadmin">Add another</button>
    {% endblock %}
    <div class="form-actions">
      {% set locale = h.dump_json({'content': _('Are you sure you want to reset the config?')}) %}
      <a href="{{ h.url_for(controller='ckanext.ngds.sysadmin.controllers.admin:NGDSAdminController', action='data_config') }}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Reset') }}</a>
      <button type="submit" class="btn btn-primary" name="save-data-config">{{ _('Update Config') }}</button>
    </div>
  </form>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('CKAN config options') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}
      {% trans %}
        <p><strong>Featured Data:</strong> Text about datasets that will appear
        on this CKAN instance's homepage.</p>
      {% endtrans %}
      {% endblock %}
    </div>
  </div>

  {% resource "sysadmin/ngds_sysadmin.js" %}
{% endblock %}