{% import 'macros/form.html' as form %}
<div class="form-body">
 
  <div class="input-group">
    <div class="sp-label"><label>Author Email</label></div>
      <input type="text" name="author_email" placeholder="joe@example.com"></input>
  </div>

  <div class="input-group">
    <div class="sp-label"><label>Maintainer Email</label></div>
      <input type="text" name="maintainer_email" placeholder="joe@example.com"></input>
  </div>

  <div class="input-group">
    <div class="sp-label"><label>Visibility</label></div>
      <select id="field-private" name="private">
        <option value="True" {% if data.private==True%}selected{% endif %}>Private</option>
        <option value="False" {% if data.private==False%}selected{% endif %}>Public</option>
      </select>
  </div>

  <div class="input-group">
    <div class="sp-label"><label>Dataset Extent</label></div>
      <div id="bbox-map"></div>
  </div>

<link rel="stylesheet" href="/vendor/leaflet/leaflet.css" />
<link rel="stylesheet" href="/vendor/leaflet-draw/leaflet.draw.css" />
<script type="application/javascript" src="/vendor/leaflet/leaflet.js"></script>
<script type="application/javascript" src="/vendor/leaflet-draw/leaflet.draw.js"></script>
<script type="application/javascript" src="/scripts/dataset_entry_map.js"></script>
{% block custom_fields %}
  {% snippet 'snippets/custom_form_fields.html', extras=data.extras,data=data, errors=errors, limit=3 %}
{% endblock %}

</div>

