{% import 'macros/form.html' as form %}
<div class="form-body">
{# form.input('title', id='field-title', label=_('Title :'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}) #}

{# set prefix = h.url_for(controller='package', action='read', id='') #}
{# set domain = h.url_for(controller='package', action='read', id='', qualified=true) #}
{# set domain = domain|replace("http://", "")|replace("https://", "") #}
{# set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} #}
{# form.prepend('name', id='field-name', label=_('URL :'), placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs) #}
{# form.markdown('notes', id='field-notes', label=_('Description :'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes) #}

{# set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} #}
{# form.input('tag_string', id='field-tags', label=_('Tags :'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) #}
{{license_desc}}
<div class="input-group">
  <div class="sp-label">
    <label for="title">Title</label>
  </div>
  <input type="text" name="title" id="title" placeholder="A descriptive title" value="{{data['title']}}" title="An intuitive label that makes searching, sharing and linking easier"></input>
</div>

<div class="input-group">
  <div class="sp-label">
    <label for="name">URL</label>
  </div>
  <input type="text" name="name" id="name" placeholder="my-dataset" value="{{data['name']}}" title="A unique URL where your dataset will be made available"></input>
</div>

<div class="input-group">
  <div class="sp-label description-label-div">
    <label for="notes">Description</label>
  </div>
  <textarea rows="4" cols="1" name="notes" id="notes" class="structured-input" placeholder="Some useful notes about this dataset" title="A long-text description of this dataset">{{data['notes']}}</textarea>
</div>

<div class="input-group">
  <div class="sp-label">
    <label for="tags">Tags</label>
  </div>
  <input type="text" name="tag_string" id="tags" placeholder="geothermal, temperature" value="{{data['tag_string']}}" title="Keywords that describe the theme of this dataset"></input>
</div>

<div class="input-group">
  {% set error = errors.license_id %}
  <div class="sp-label">
  <label for="field-license">{{ _("License") }}</label>
  </div>
    <select id="field-license" name="license_id" data-module="autocomplete" title="A license indicating the usage restrictions of this dataset">
      {% for licence_desc, licence_id in licences|sort if licence_desc  %}
        <option value="{{ licence_id }}" {% if data.get('license_id', 'notspecified') == licence_id %}selected="selected"{% endif %}>{{ licence_desc }}</option>
      {% endfor %}
    </select>
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
  
</div>

  <input type="hidden" name="owner_org" value="{{ h.get_default_group() }}" />

</div>
<script>
$(document).tooltip({
  position:{
    at:'right top+5',
    collision:'none'
  }
});
</script>
<script type="text/javascript" src="/scripts/contribute/dataset_form.js"></script>