{% import 'macros/form.html' as form %}

{% set groups_available = h.groups_available() %}
{% if groups_available %}
  <div class="control-group">
    {% set groups = h.dict_list_reduce(data.groups, 'id') %}
    <label for="field-groups" class="control-label">{{ _('Add to Groups') }}</label>
    <div class="controls">
      <select id="field-groups" name="groups__{{ groups | count }}__id" data-module="autocomplete">
        <option value="">{{ _('Select a group...') }}</option>
        {% for group in groups_available %}
        <option value="{{ group.id }}" {% if group.id in groups %}selected="selected"{% endif %}>{{ group.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}

{% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/user/autocomplete?q=?'} %}
{{ form.input('author', label=_('Author : '), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium','condensed'], attrs=format_attrs) }}

{{ form.input('author_email', label=_('Author Email : '), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium','condensed']) }}

{{ form.input('maintainer', label=_('Maintainer : '), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium','condensed']) }}

{{ form.input('maintainer_email', label=_('Maintainer Email : '), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium','condensed']) }}

{% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/user/autocomplete?q=?'} %}
          {{ form.input('username', id='field-username', label=_('User'), placeholder=_('Username'), value='', error='', classes=['control-medium'], attrs=format_attrs) }}

<div class="control-group control-medium">
    <label class="control-label">Dataset Extent : </label>
    <div class="controls">
        <div id="bbox-map"></div>
    </div>
</div> 

<link rel="stylesheet" href="/vendor/leaflet/leaflet.css" />
<link rel="stylesheet" href="/vendor/leaflet-draw/leaflet.draw.css" />
<script type="application/javascript" src="/vendor/leaflet/leaflet.js"></script>
<script type="application/javascript" src="/vendor/leaflet-draw/leaflet.draw.js"></script>
<script type="application/javascript" src="/scripts/dataset_entry_map.js"></script>

{% block custom_fields %}
  {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
{% endblock %}
<script>document.getElementsByTagName('html')[0].className += ' js';</script>
<script type="text/javascript" src="/fanstatic/vendor/:version:2013-03-01T11:05:11.12/jquery.min.js"></script>
<script type="text/javascript" src="/fanstatic/vendor/:version:2013-03-01T11:05:11.12/:bundle:bootstrap/js/bootstrap.min.js;jed.min.js;select2/select2.min.js"></script>
<script type="text/javascript" src="/fanstatic/base/:version:2013-03-01T11:05:11.11/:bundle:plugins/jquery.inherit.min.js;plugins/jquery.proxy-all.min.js;plugins/jquery.url-helpers.min.js;plugins/jquery.date-helpers.min.js;plugins/jquery.slug.min.js;plugins/jquery.slug-preview.min.js;plugins/jquery.truncator.min.js;plugins/jquery.form-warning.min.js;sandbox.min.js;module.min.js;pubsub.min.js;client.min.js;notify.min.js;i18n.min.js;main.min.js;modules/select-switch.min.js;modules/slug-preview.min.js;modules/basic-form.min.js;modules/confirm-action.min.js;modules/api-info.min.js;modules/autocomplete.min.js;modules/custom-fields.min.js;modules/related-item.min.js;modules/data-viewer.min.js;modules/resource-form.min.js;modules/resource-upload-field.min.js;modules/follow.min.js;modules/activity-stream.js;modules/dashboard.min.js"></script>