{% import 'macros/form.html' as form %}
{% include 'package/add_responsible_party.tmf' %}
<div class="form-body">
 
  <!-- <div class="input-group">
    <div class="sp-label"><label>Author Email</label></div>
      <input type="text" name="author_email" placeholder="joe@example.com" value="{{data.author_email}}"></input>
  </div> -->

  <div class="input-group">
    <div class="sp-label"><label>Author</label></div>
      <input type="text" id="author_fake" /> 
  </div>

  <input type="hidden" name="author" id="author"></input>
  <input type="hidden" name="author_name" id="author_name" />
  <input type="hidden" name="author_email" id="author_email" />


  <div class="input-group">
    <div class="sp-label"><label>Maintainer</label></div>
      <input type="text" id="maintainer_fake"></input>
  </div>

  <input type="hidden" name="maintainer" id="maintainer"></input>
  <input type="hidden" name="maintainer_name" id="maintainer_name" />
  <input type="hidden" name="maintainer_email" id="maintainer_email" />

  <!-- <div class="input-group">
    <div class="sp-label"><label>Maintainer Email</label></div>
      <input type="text" name="maintainer_email" placeholder="joe@example.com" value="{{data.maintainer_email}}"></input>
  </div> -->

  <div class="input-group">
    <div class="sp-label"><label>Visibility</label></div>
      <select id="field-private" name="private">
        <option value="True" {% if data.private==True%}selected{% endif %}>Private</option>
        <option value="False" {% if data.private==False%}selected{% endif %}>Public</option>
      </select>
  </div>

  <div class="input-group">
    <div class="sp-label"><label>Dataset Extent</label></div>
      <div id="bbox-map"></div>
  </div>

<link rel="stylesheet" href="/vendor/leaflet/leaflet.css" />
<link rel="stylesheet" href="/vendor/leaflet-draw/leaflet.draw.css" />
<script type="application/javascript" src="/vendor/leaflet/leaflet.js"></script>
<script type="application/javascript" src="/vendor/leaflet-draw/leaflet.draw.js"></script>
<script type="text/javascript" src="/scripts/autocomplete.js"></script>
<script type="application/javascript" src="/scripts/dataset_entry_map.js"></script>
<script type="application/javascript" src="/scripts/contribute/responsible_party.js"></script>

<script>
  new ngds.responsible_party().responsibilify({
    'rs_name':'#author_name',
    'rs_email':'#author_email',
    'rs_fake':'#author_fake',
    'rs':'#author'
  });

  new ngds.responsible_party().responsibilify({
    'rs_name':'#maintainer_name',
    'rs_email':'#maintainer_email',
    'rs_fake':'#maintainer_fake',
    'rs':'#maintainer'
  });
</script>


{% block custom_fields %}
  {% snippet 'snippets/custom_form_fields.html', extras=data.extras,data=data, errors=errors, limit=3 %}
{% endblock %}

</div>

