{% include 'package/resource_form_template.tmf' %}
{% include 'package/add_responsible_party.tmf' %}
<script>
{% if data %}
    resource_location = window.location.origin+"{{data['resource_location']}}";
{% endif %}
</script>
<form id="file-upload-form" action="/ngds/contribute/upload_file" method="post" enctype="multipart/form-data">
  <div id="file-upload" style="display:none;">
          <input type="submit" name="file-upload-button" value="Upload"></input>
          <input type="file" id="file" name="file" class="structured-input"></input>
          {% if data['key'] %}
          <input type="hidden" name="key" id="key1" value="{{data['key']}}"></input>
          {% else %}
          <input type="hidden" name="key" id="key1"></input>
          {% endif %}
          <input type="hidden" name="dataset_name" value="{{pkg_name}}"/>
          <input type="hidden" name="form_type" id="form_type"/>
  </div>
</form>

<form class="dataset-form dataset-resource-form form-horizontal" action="/dataset/new_resource/{{pkg_name}}" method="post" data-module="resource-form basic-form">
  <ol class="stages stage-2">
    <li class="first-stage complete">
        <button class="highlight" name="save" value="go-dataset" type="submit">1. Create dataset</button>
    </li>
    <li class="middle-stage active">
        <span class="highlight">2. Add Resources</span>
    </li>
    <li class="last-stage uncomplete">
        <span class="highlight">3. Dataset Metadata</span>
    </li>
  </ol>

  <div class="main-controls">
      <div class="radio-section">
        <input type="hidden" name="dataset_name" value="{{pkg_name}}"/>
        <input type="radio" id="upload-type-selection" name="upload_type_selection" value="upload_type"/>
        <label for="upload-type-selection">Upload a file</label><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="upload-type-structured" class="upload-type" name="upload-type" value="structured"/>
        <label for="upload-type-structured" id="upload-type-structured-label">Structured</label><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="upload-type-unstructured" class="upload-type" name="upload-type" value="unstructured"/>
        <label for="upload-type-unstructured" id="upload-type-unstructured-label">Unstructured</label>
      </div>

      <div class="radio-section">
        <input type="radio" id="data-service" name="upload-type" value="data-service" />
        <label for="data-service">Link to a data service</label>
      </div>

      <div class="radio-section">
        <input type="radio" id="offline-resource" name="upload-type" value="offline-resource" />
        <label for="offline-resource">Offline resource</label>
      </div>
  </div>

  <div class="form-body">
   <!-- Offline Resource End -->

  </div>
  <div class="form-actions">
        <button type="submit" name="save" value="go-dataset">Previous Page</button>
        <button type="submit" name="save" value="go-dataset">Save and Add Another</button>
        <button type="button" id="go-metadata">Additional Metadata</button>
        <!-- <button type="button" name="save" value="go-metadata">Additional Metadata</button> -->
    </div>
</form>

{% raw %}

<script type="text/javascript" src="/scripts/contribute/resource_form_fields.js"></script>
<script type="text/javascript" src="/scripts/autocomplete.js"></script>
<script type="text/javascript" src="/scripts/contribute/resource_form.js"></script>

<script>

var render_forms = function(value) {
  $(".form-body").empty();
  
  position_file_uploader();

  if(value==='structured' || value==='unstructured') {
      $("[name=upload_type_selection]").prop("checked",true);
  }
  else {
      $("[name=upload_type_selection]").prop("checked",false); 
  }

  if(value==="structured") {
    $("#upload-type-structured").prop("checked",true);
    $(".form-body").html(Mustache.render(ngds.structured_form_template,structured_form));
    position_file_uploader("#url");
    populate_content_models();
  }

  if(value==="unstructured") {
    $("#upload-type-unstructured").prop("checked",true);
    $(".form-body").html(Mustache.render(ngds.structured_form_template,unstructured_form));
    position_file_uploader("#url");
  }

  if(value==="offline-resource") {
    $(".form-body").html(Mustache.render(ngds.structured_form_template,offline_resource_form));
  }

  if(value==="data-service") {
    $(".form-body").html(Mustache.render(ngds.structured_form_template,link_data_service_form));
  }

  if(value==="data-service" || value==="unstructured" || value==="structured") {
    var dist_autocomp = ngds.autocomplete(".distributor-fake","/responsible_parties",'q',['name','email'],'name'); 
    dist_autocomp.proxy(".distributor_name","name"); 
    dist_autocomp.proxy(".distributor_email","email");
    dist_autocomp.proxy(".distributor",function(dict) {
      $(".distributor").val(JSON.stringify({
        "distributor_name":dict.name,
        "distributor_email":dict.email
      }));
    });  
  }
};

$('input[name="upload-type"]').on('change',function(ev){
  
  var value = ev.target.value;
    console.log(ev);
    console.log(value);

  render_forms(value);
});

$("#go-metadata").click(function() {
  $.ajax({
    'url':'/ngds/contribute/validate_resource',
    'data':$(".dataset-form").serializeArray(),
    'success':function(response) {
      if(response.success===true) {
        $(".dataset-form").append($("<input/>",{'type':'hidden','name':'save','value':'go-metadata'}));
        $(".dataset-form").append($("<input/>",{'type':'hidden','name':'id','value':''}));
        $(".dataset-form").submit();
      }
      else {
        ngds.publish('Notifications.received',response);
      }
    }
  });
});


if(typeof continuation!=='undefined') {
  for(var i=0;i<continuation.length;i++) {
    $("[name="+continuation['field']+"]").val(continuation['value']);
  }
}

</script>
{% endraw %}

<script>

(function template_variables_collect(){
  {% if data %}
   data="{{data}}";
   data = ngds.util.parse_raw_json("{{h.jsonify(data)}}")
   activate_populate_form(data);
  {% endif %}
})();


</script>