{% ckan_extends %}

{#
{% set md_data = h.ngds_package_extras_processor(pkg_dict.extras) %}

<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  {% block package_additional_info %}
    <table class="table table-striped table-bordered table-condensed">
      {% if md_data.citation_date %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Citation Date') }}</th>
          <td class="dataset-details" property="rdf:value">{{ md_data.citation_date }}</td>
        </tr>
      {% endif %}
    </table>

    {% if md_data.authors|length > 1 %}
      <h4>{{ _('Authors') }}</h4>
    {% else %}
      <h4>{{ _('Author') }}</h4>
    {% endif %}
    {% for author in md_data.authors %}
      <table class="table table-striped table-bordered table-condensed">
        {% if author.Name %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Name') }}</th>
            <td class="dataset-details" property="rdf:value">{{ author.Name }}</td>
          </tr>
        {% endif %}
        {% if author.Position %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Position') }}</th>
            <td class="dataset-details" property="rdf:value">{{ author.Position }}</td>
          </tr>
        {% endif %}
        {% if author.Organization %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Organization') }}</th>
            <td class="dataset-details" property="rdf:value">{{ author.Organization }}</td>
          </tr>
        {% endif %}
        {% if author.Address %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Address') }}</th>
            <td class="dataset-details" property="rdf:value">{{ author.Address }}</td>
          </tr>
        {% endif %}
        {% if author.Phone %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Phone') }}</th>
            <td class="dataset-details" property="rdf:value">{{ author.Phone }}</td>
          </tr>
        {% endif %}
        {% if author.Email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Email') }}</th>
            <td class="dataset-details" property="rdf:value">{{ author.Email }}</td>
          </tr>
        {% endif %}
      </table>
    {% endfor %}

    {% if md_data.geographic_extent %}
      <h4>{{ _('Geographic Extent') }}</h4>
      {% set geo = md_data.geographic_extent %}
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th scope="row" class="dataset-label">{{ _('North Bound') }}</th>
          <td class="dataset-details" property="rdf:value">{{ geo.northBoundLatitude }}</td>
        </tr>
        <tr>
          <th scope="row" class="dataset-label">{{ _('South Bound') }}</th>
          <td class="dataset-details" property="rdf:value">{{ geo.southBoundLatitude }}</td>
        </tr>
        <tr>
          <th scope="row" class="dataset-label">{{ _('East Bound') }}</th>
          <td class="dataset-details" property="rdf:value">{{ geo.eastBoundLongitude }}</td>
        </tr>
        <tr>
          <th scope="row" class="dataset-label">{{ _('West Bound') }}</th>
          <td class="dataset-details" property="rdf:value">{{ geo.westBoundLongitude }}</td>
        </tr>
      </table>
    {% endif %}
  {% endblock %}
</section>
#}