{% block ngds_geographic_extent_form %}
  <div class="md-input-form md-geographic-extent">
    <!-- northbound field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-geo-north">
        North Bound
      </label>
      <div class="controls">
        <input id="md-geo-north" type="text" name="md-geo-north">
      </div>
    </div>
    <!-- southbound field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-geo-south">
        South Bound
      </label>
      <div class="controls">
        <input id="md-geo-south" type="text" name="md-geo-south">
      </div>
    </div>
    <!-- eastbound field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-geo-east">
        East Bound
      </label>
      <div class="controls">
        <input id="md-geo-east" type="text" name="md-geo-east">
      </div>
    </div>
    <!-- westbound field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-geo-west">
        West Bound
      </label>
      <div class="controls">
        <input id="md-geo-west" type="text" name="md-geo-west">
      </div>
    </div>
  </div>
{% endblock %}