{% block md_related_agent_form %}
  <div class="md-input-form md-related-agent">
    <!-- person name field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-person-name">
        Name
      </label>
      <div class="controls">
        <input id="md-person-name" type="text" name="md-person-name">
      </div>
    </div>
    <!-- person position field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-person-position">
        Position
      </label>
      <div class="controls">
        <input id="md-person-position" type="text" name="md-person-position">
      </div>
    </div>
    <!-- organization name field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-organization-name">
        Organization Name
      </label>
      <div class="controls">
        <input id="md-organization-name" type="text" name="md-organization-name">
      </div>
    </div>
    <!-- organization uri field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-organization-uri">
        Organization URI
      </label>
      <div class="controls">
        <input id="md-organization-uri" type="text" name="md-organization-uri">
      </div>
    </div>
    <!-- phone number field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-phone-number">
        Phone Number
      </label>
      <div class="controls">
        <input id="md-phone-number" type="text" name="md-phone-number">
      </div>
    </div>
    <!-- contact email field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-contact-email">
        Email
      </label>
      <div class="controls">
        <input id="md-contact-email" type="text" name="md-contact-email">
      </div>
    </div>
    <!-- contact address field -->
    <div class="control-group control-medium">
      <label class="control-label" for="md-contact-address">
        Address
      </label>
      <div class="controls">
        <input id="md-contact-address" type="text" name="md-contact-address">
      </div>
    </div>
  </div>
{% endblock %}