{% block ngds_distributors_form %}
  <!-- author name field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-distributors-name">
      Author
    </label>
    <div class="controls">
      <input id="ngds-distributors-name" type="text" name="ngds-name">
    </div>
  </div>

  <!-- organization name field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-distributors-organization">
      Organization
    </label>
    <div class="controls">
      <input id="ngds-distributors-organization" type="text" name="ngds-organization">
    </div>
  </div>

  <!-- phone number field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-distributors-phone">
      Phone
    </label>
    <div class="controls">
      <input id="ngds-distributors-phone" type="text" name="ngds-phone" placeholder="123-456-7890">
    </div>
  </div>

  <!-- email field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-distributors-email">
      Email
    </label>
    <div class="controls">
      <input id="ngds-distributors-email" type="text" name="ngds-email">
    </div>
  </div>

  <!-- street field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-distributors-street">
      Street
    </label>
    <div class="controls">
      <input id="ngds-distributors-street" type="text" name="ngds-street">
    </div>
  </div>

  <!-- city field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-distributors-city">
      City
    </label>
    <div class="controls">
      <input id="ngds-distributors-city" type="text" name="ngds-city">
    </div>
  </div>

  <!-- state field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-distributors-state">
      State
    </label>
    <div class="controls">
      <input id="ngds-distributors-state" type="text" name="ngds-state">
    </div>
  </div>

  <!-- zip field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-distributors-zip">
      Zipcode
    </label>
    <div class="controls">
      <input id="ngds-distributors-zip" type="text" name="ngds-zip">
    </div>
  </div>
{% endblock %}