{% block ngds_metadata_contact_form %}
  <!-- author name field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-metadata-contact-name">
      Author
    </label>
    <div class="controls">
      <input id="ngds-metadata-contact-name" type="text" name="ngds-name">
    </div>
  </div>

  <!-- organization name field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-metadata-contact-organization">
      Organization
    </label>
    <div class="controls">
      <input id="ngds-metadata-contact-organization" type="text" name="ngds-organization">
    </div>
  </div>

  <!-- phone number field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-metadata-contact-phone">
      Phone
    </label>
    <div class="controls">
      <input id="ngds-metadata-contact-phone" type="text" name="ngds-phone" placeholder="123-456-7890">
    </div>
  </div>

  <!-- email field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-metadata-contact-email">
      Email
    </label>
    <div class="controls">
      <input id="ngds-metadata-contact-email" type="text" name="ngds-email">
    </div>
  </div>

  <!-- street field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-metadata-contact-street">
      Street
    </label>
    <div class="controls">
      <input id="ngds-metadata-contact-street" type="text" name="ngds-street">
    </div>
  </div>

  <!-- city field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-metadata-contact-city">
      City
    </label>
    <div class="controls">
      <input id="ngds-metadata-contact-city" type="text" name="ngds-city">
    </div>
  </div>

  <!-- state field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-metadata-contact-state">
      State
    </label>
    <div class="controls">
      <input id="ngds-metadata-contact-state" type="text" name="ngds-state">
    </div>
  </div>

  <!-- zip field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-metadata-contact-zip">
      Zipcode
    </label>
    <div class="controls">
      <input id="ngds-metadata-contact-zip" type="text" name="ngds-zip">
    </div>
  </div>
{% endblock %}