{% block ngds_authors_form %}
  <!-- author name field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-author-name">
      Name
    </label>
    <div class="controls">
      <input id="ngds-author-name" type="text" name="ngds-author-name">
    </div>
  </div>

  <!-- organization name field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-author-organization">
      Organization
    </label>
    <div class="controls">
      <input id="ngds-author-organization" type="text" name="ngds-organization">
    </div>
  </div>

  <!-- phone number field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-author-phone">
      Phone
    </label>
    <div class="controls">
      <input id="ngds-author-phone" type="text" name="ngds-phone" placeholder="123-456-7890">
    </div>
  </div>

  <!-- email field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-author-email">
      Email
    </label>
    <div class="controls">
      <input id="ngds-author-email" type="text" name="ngds-email">
    </div>
  </div>

  <!-- street field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-author-street">
      Street
    </label>
    <div class="controls">
      <input id="ngds-author-street" type="text" name="ngds-street">
    </div>
  </div>

  <!-- city field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-author-city">
      City
    </label>
    <div class="controls">
      <input id="ngds-author-city" type="text" name="ngds-city">
    </div>
  </div>

  <!-- state field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-author-state">
      State
    </label>
    <div class="controls">
      <input id="ngds-author-state" type="text" name="ngds-state">
    </div>
  </div>

  <!-- zip field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-author-zip">
      Zipcode
    </label>
    <div class="controls">
      <input id="ngds-author-zip" type="text" name="ngds-zip">
    </div>
  </div>
{% endblock %}