{% block ngds_geographic_extent_form %}
  <!-- northbound field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-geo-north">
      North Bound
    </label>
    <div class="controls">
      <input id="ngds-geo-north" type="text" name="ngds-geo-north">
    </div>
  </div>

  <!-- southbound field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-geo-south">
      South Bound
    </label>
    <div class="controls">
      <input id="ngds-geo-south" type="text" name="ngds-geo-south">
    </div>
  </div>

  <!-- eastbound field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-geo-east">
      East Bound
    </label>
    <div class="controls">
      <input id="ngds-geo-east" type="text" name="ngds-geo-east">
    </div>
  </div>

  <!-- westbound field -->
  <div class="control-group control-medium">
    <label class="control-label" for="ngds-geo-west">
      West Bound
    </label>
    <div class="controls">
      <input id="ngds-geo-west" type="text" name="ngds-geo-west">
    </div>
  </div>
{% endblock %}