{% block select_usgin_content_model %}
<div class="control-group">
  <label class="control-label" for="usgin-content-model">
    {{ _('Content Model') }}
  </label>
  <div class="controls">
    <div class="control-group control-medium">
      <select id="usgin-content-model" name="md-usgin-content-model" data-module="autocomplete">
        <option value="none">None</option>
      </select>
    </div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="usgin-content-model-version">
    {{ _('Content Model Version') }}
  </label>
  <div class="controls">
    <div class="control-group control-medium">
      <select id="usgin-content-model-version" name="md-usgin-content-model-version" data-module="autocomplete">
        <option value="none">None</option>
      </select>
    </div>
  </div>
</div>
{% endblock %}