{% ckan_extends %}

{#
{% block primary_content %}
  {% block resource_additional_information %}
    {% if res %}
      <section class="module">
        {% block resource_additional_information_inner %}
        <div class="module-content">
          <h2>{{ _('Additional Information') }}</h2>
          <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <tr>
              <th scope="row">{{ _('Last updated') }}</th>
              <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('Created') }}</th>
              <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('Format') }}</th>
              <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('License') }}</th>
              <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
            </tr>
          </table>
          {% set res_data = h.ngds_resource_extras_processer(res) %}
          {% if res_data.distributor %}
            {% set dist = res_data.distributor %}
            <h4>{{ _('Distributor') }}</h4>
            <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
              {% if dist.Name %}
                <tr>
                  <th scope="row" class="dataset-label">{{ _('Name') }}</th>
                  <td class="dataset-details" property="rdf:value">{{ dist.Name }}</td>
                </tr>
              {% endif %}
              {% if dist.Position %}
                <tr>
                  <th scope="row" class="dataset-label">{{ _('Position') }}</th>
                  <td class="dataset-details" property="rdf:value">{{ dist.Position }}</td>
                </tr>
              {% endif %}
              {% if dist.Organization %}
                <tr>
                  <th scope="row" class="dataset-label">{{ _('Organization') }}</th>
                  <td class="dataset-details" property="rdf:value">{{ dist.Organization }}</td>
                </tr>
              {% endif %}
              {% if dist.Address %}
                <tr>
                  <th scope="row" class="dataset-label">{{ _('Address') }}</th>
                  <td class="dataset-details" property="rdf:value">{{ dist.Address }}</td>
                </tr>
              {% endif %}
              {% if dist.Phone %}
                <tr>
                  <th scope="row" class="dataset-label">{{ _('Phone') }}</th>
                  <td class="dataset-details" property="rdf:value">{{ dist.Phone }}</td>
                </tr>
              {% endif %}
              {% if dist.Email %}
                <tr>
                  <th scope="row" class="dataset-label">{{ _('Email') }}</th>
                  <td class="dataset-details" property="rdf:value">{{ dist.Email }}</td>
                </tr>
              {% endif %}
            </table>
          {% endif %}
        </div>
        {% endblock %}
      </section>
    {% endif %}
  {% endblock %}
{% endblock %}
#}