{% extends "page_ngds.html" %}
{%- block content %}
<div id="body-container">
	<div class="about-ngds">
		<p>The National Geothermal Data System (NGDS) is a distributed data system providing access to information resources related to geothermal energy from a network of data providers. Data are contributed by academic researchers, private industry, and state and federal agencies. Built on a scalable and open platform through the U.S. Geoscience Information Network (USGIN), NGDS respects data provenance while promoting shared resources. Since NGDS is built using a set of open protocols and standards, relying on the Open Geospatial Consortium (OGC) and International Organization for Standardization (ISO), members of the community may access the data in a variety of proprietary and open-source applications and software.  In addition, developers can add functionality to the system by creating new applications based on the open protocols and standards of the NGDS.</p>
		 
		<p>The NGDS, supported by the U.S. Department of Energy’s Geothermal Technology Program, is intended to provide access to all types of geothermal data to enable geothermal analysis and widespread public use in an effort to reduce the risk of geothermal energy development.</p>

		<p>Download a two-page handout on the NGDS created by the Department of Energy’s Geothermal Technologies Program.</p>

		<p class="section-title">Who we are</p>

		<p>
		The National Geothermal Data System is a collaborative effort between academia, private industry, and government with the U.S. Department of Energy’s Geothermal Technologies Program. A full list of project participants and contributors is available on our Data Contributors  page. You may Contact Us with questions regarding the NGDS.</p>

		<p class="section-title">News & Events</p>
		 
		<p>The Stanford Geothermal Workshop will host a NGDS session and User Experience lab from February 11–13, 2013 in Stanford, CA.</p>
		 
		<p>An events calendar is forthcoming, if you would like to add an event or news item, please Contact Us.</p>
	</div>
	</div>
{% endblock %}
