{% extends "page_ngds.html" %}
{% block content %}

<div class="info_content">

<h2>{{_('Data Contributors')}}</h2>

{% if g.contributors_list %}
<div>
    <ul>
    {% set c_i=0 %}
    {% for contributor in g.contributors_list if contributor.is_gold=='true' %}
        {% set c_i=c_i+1 %}
        {% if c_i<7 %}
        <li><span><a href="{{contributor.url}}" target="_blank"><img src="{{contributor.logo_path}}"/> {{contributor.name}}</a></span></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}

</div>

{% endblock %}