{% extends "page_ngds.html" %}
{% set active_page = "home" %}   
{%- block content %}

        <div id="search-datawatch-container">
          <div id="search-container">
              <p class="menu-item-large menu-align">Search</p>
              <p class="menu-caption">Find geothermal data, images, publications & more</p>
              <select class="search-combo"><option>Map</option><option>Search</option></select>
              <input type="text" class="search-bar">
              <button class="search-button not-implemented">Go</button>
          </div>
          <div id="data-watch-container">
              <p class="menu-item-large menu-align">Data Watch</p>
              <p class="menu-caption">Recently shared with NGDS</p>
              <div>
                <a href="#" class="not-implemented">Selected Hydrologic Data, San Pitch River Drainage Basin, Utah</a>
                <p class="data-watch-feed-caption">By G.B. Robinson. Published February 1, 1968</p>
                <p class="data-watch-feed-caption">Posted October 18, 2012</p>
              </div>
              <div>
                <a href="#" class="not-implemented">Maryland Oil and Gas Wells Log Metadata</a>
                <p class="data-watch-feed-caption">By Maryland Dept. of Environment.</p>
                <p class="data-watch-feed-caption">Posted October 18, 2012</p>
              </div>
              <div>
                <a href="#" class="not-implemented">Geothermal Resources Development needs in Arizona</a>
                <p class="data-watch-feed-caption">By Maryland Dept. of Environment.</p>
                <p class="data-watch-feed-caption">Posted October 18, 2012</p>
              </div>
              <button class="not-implemented">Get data updates via email</button>
          </div>
        </div> <!-- End of Search Daawatch Container -->
      
        <div id="showcase-find-map-container">
          <div id="showcase-container">
              <!-- Placeholder for the flashy image showcase widget in the middle of the home page. -->
              <img src="/images/u4_normal.png" class="showcase-image" alt="">
          </div>
          <div id="map-it-container">
              <a href="/ngds/map">
                <img src="/images/u64_normal.png" alt="">
                  <span class="map-it-content menu-item-large">
                    Map It
                    <img src="/images/u78_normal.png" class="star-it-pointer-img" alt="V">
                  </span>
              </a>
          </div>
       
          <div id="find-in-library-container">
              <a href="/ngds/library">
                <img src="/images/u64_normal.png" alt="V">
                  <span class="find-it-content menu-item-large">
                    Find in Library
                    <img src="/images/u78_normal.png" class="star-it-pointer-img" alt="VS">
                  </span>
              </a>
          </div>
           
           </div> <!-- End of Showcase, Find in Library and Map Container -->
    
{% endblock %}
