
<script type="text/javascript">

  var imageURLs = [
       "/assets/banner_image.png"
     , "/assets/banner_image2.png"
     , "/assets/banner_image3.png"
  ];
  var imageHref = [
       "www.energy.gov",
       "www.siemens.com"
       ,"www.USA.gov"

  ]
  var imgURL = "/assets/banner_image";
  var numImg = 3;
  function getImageTag() {
    var img = '<img src=\"';
    var randomIndex = Math.floor(Math.random() * numImg);
    //img += imageURLs[randomIndex];
    img += imgURL + randomIndex + '.png';
    img += '\" class="showcase-image" alt=""/>';
    return img;
  }

  function getImagegroup() {
    var img = '<div id="slideshow"><div id="slides">';

     for (var i=1; i <= numImg; i++)
  
    {
       img += '<div class=\"slide\"><a href=\"' + imageHref[i]+'\" > <img src=\"'+imgURL + i + '.png';
       img += '\" width="840" height="400"/></a></div>';
    }
    img =+ '</div><div id=\"slides-controls\">';
    for (var i=1; i <= numImg; i++)
  
    {
       
       img += '<a href=\"#\">'+i+'</a>';
    }

    img += '</div></div> '


    return img;
  }

slidePrefix            = "slide-";
slideControlPrefix     = "slide-control-";
slideHighlightClass    = "highlight";
slidesContainerID      = "slides";
slidesControlsID       = "slides-controls";
slideDelay             = 3000;
slideAnimationInterval = 20;
slideTransitionSteps   = 10;

function setUpSlideShow()
{
    // collect the slides and the controls
    slidesCollection = document.getElementById(slidesContainerID).children;
    slidesControllersCollection = document.getElementById(slidesControlsID).children;
 
    totalSlides = slidesCollection.length;
 
    if (totalSlides < 2) return;
 
    //go through all slides
    for (var i=0; i < slidesCollection.length; i++)
    {
        // give IDs to slides and controls
        slidesCollection[i].id = slidePrefix+(i+1);
        slidesControllersCollection[i].id = slideControlPrefix+(i+1);
 
        // attach onclick handlers to controls, highlight the first control
        slidesControllersCollection[i].onclick = function(){clickSlide(this);};
 
        //hide all slides except the first
        if (i > 0)
            slidesCollection[i].style.display = "none";
        else
            slidesControllersCollection[i].className = slideHighlightClass;
    }
 
    // initialize vars
    slideTransStep= 0;
    transTimeout  = 0;
    crtSlideIndex = 1;
 
    // show the next slide
    showSlide(2);
}

function showSlide(slideNo, immediate)
{
  // don't do any action while a transition is in progress
    if (slideTransStep != 0 || slideNo == crtSlideIndex)
        return;
 
    clearTimeout(transTimeout);
 
  // get references to the current slide and to the one to be shown next
    nextSlideIndex = slideNo;
    crtSlide = document.getElementById(slidePrefix + crtSlideIndex);
    nextSlide = document.getElementById(slidePrefix + nextSlideIndex);
    slideTransStep = 0;
 
    // start the transition now upon request or after a delay (default)
    if (immediate == true)
        transSlide();
    else
        transTimeout = setTimeout("transSlide()", slideDelay);
}

function clickSlide(control)
{
    showSlide(Number(control.id.substr(control.id.lastIndexOf("-")+1)),true);
}


 
function transSlide()
{
    // make sure the next slide is visible (albeit transparent)
    nextSlide.style.display = "block";
 
    // calculate opacity
    var opacity = slideTransStep / slideTransitionSteps;
 
    // fade out the current slide
    crtSlide.style.opacity = "" + (1 - opacity);
    crtSlide.style.filter = "alpha(opacity=" + (100 - opacity*100) + ")";
 
    // fade in the next slide
    nextSlide.style.opacity = "" + opacity;
    nextSlide.style.filter = "alpha(opacity=" + (opacity*100) + ")";
 
    // if not completed, do this step again after a short delay
    if (++slideTransStep <= slideTransitionSteps)
        transTimeout = setTimeout("transSlide()", slideAnimationInterval);
    else
    {
        // complete
        crtSlide.style.display = "none";
        transComplete();
    }
}

function transComplete()
{
    slideTransStep = 0;
    crtSlideIndex = nextSlideIndex;
 
    // for IE filters, removing filters reenables cleartype
    if (nextSlide.style.removeAttribute)
        nextSlide.style.removeAttribute("filter");
 
    // show next slide
    showSlide((crtSlideIndex >= totalSlides) ? 1 : crtSlideIndex + 1);
 
    //unhighlight all controls
    for (var i=0; i < slidesControllersCollection.length; i++)
        slidesControllersCollection[i].className = "";
 
    // highlight the control for the next slide
    document.getElementById("slide-control-" + crtSlideIndex).className = slideHighlightClass;
}
</script>
{% extends "page_ngds.html" %}
{% set active_page = "home" %}  
{% block bodytag %}
onload="setUpSlideShow()"
{%- endblock -%} 
{%- block content %}

        <div id="search-datawatch-container">
          <div id="search-container">
              <p class="main-menu-item menu-align">SEARCH</p>
              <p class="menu-caption">Find geothermal data, images, publications and more</p>
              <hr />
              <!-- <select class="search-combo"><option>Map</option><option>Search</option></select> -->
              <form action="/ngds/initiate_search" method="post">
                <input type="text" name="query" class="search-bar"/>
                &nbsp;in&nbsp;
                <select name="search-type"><option value="map">Map</option><option value="library">Library</option></select>
                <input type="submit" class="search-button" value="Go">
              </form>
          </div>
          <div id="data-watch-container">
              <p class="main-menu-item menu-align">DATA WATCH</p>
              <p class="menu-caption">Recently shared with NGDS</p>
              <hr />
             <!-- <div>
                <a href="#" class="not-implemented">Selected Hydrologic Data, San Pitch River Drainage Basin, Utah</a>
                <p class="data-watch-feed-caption">By G.B. Robinson. Published February 1, 1968</p>
                <p class="data-watch-feed-caption">Posted October 18, 2012</p>
              </div>
              <div>
                <a href="#" class="not-implemented">Maryland Oil and Gas Wells Log Metadata</a>
                <p class="data-watch-feed-caption">By Maryland Dept. of Environment.</p>
                <p class="data-watch-feed-caption">Posted October 18, 2012</p>
              </div>
              <div>
                <a href="#" class="not-implemented">Geothermal Resources Development needs in Arizona</a>
                <p class="data-watch-feed-caption">By Maryland Dept. of Environment.</p>
                <p class="data-watch-feed-caption">Posted October 18, 2012</p>
              </div> -->
              {% for user in c.recent_activity %}
                <!-- {{ h.username_for_id(user['user_id']) }} -->
                <div> 
                  <a href="/dataset/{{user['data']['package']['name']}}" target="_blank">{{user['data']['package']['title']}}</a>
                  <p class="data-watch-feed-caption">By <a href="/user/{{h.username_for_id(user['user_id'])}}" target="_blank">{{h.username_for_id(user['user_id'])}}</a>. Published {{ h.get_formatted_date(user['timestamp'])}}</p>
                  <p class="data-watch-feed-caption">Posted {{h.get_formatted_date(user['timestamp'])}}</p>
                </div>
              {% endfor %}
          </div>
        </div> <!-- End of Search Daawatch Container -->
      
        <div id="showcase-find-map-container">
          <div id="showcase-container">
              <!-- Placeholder for the flashy image showcase widget in the middle of the home page. -->
               <script type="text/javascript">
                   //document.write(getImagegroup());
               </script>

              <div id="slideshow"><div id="slides"><div class="slide"><a href="http://www.energy.gov" target="_blank"> <img src="/assets/banner_image0.png" width="840" height="400"/></a>Slide content 1</div><div class="slide"><a href="http://www.siemens.com" target="_blank"> <img src="/assets/banner_image1.png" width="840" height="400"/></a>Slide content 2</div><div class="slide"><a href="http://www.USA.gov" target="_blank"> <img src="/assets/banner_image2.png" width="840" height="400"/></a>Slide content 3</div></div><div id="slides-controls"><a href="#">1</a> <a href="#">2</a> <a href="#">3</a></div></div>
              <!-- <img src="/assets/banner_image.png" class="showcase-image" alt=""/> -->
          </div>
          <div id="map-it-container">
              <a href="{% url_for controller='ckanext.ngds.ngdsui.controllers.home:HomeController', action='render_map' %}">
                  <span class="map-it-content menu-item-large">
                    <img src="/assets/map-it-new.png" class="star-it-pointer-img" alt="V"/>
                  </span>
              </a>
          </div>
       
          <div id="find-in-library-container">
              <a href="{% url_for controller='ckanext.ngds.ngdsui.controllers.home:HomeController', action='render_library' %}">
                  <span class="find-it-content menu-item-large">
                    <img src="/assets/find-in-library-new.png" class="star-it-pointer-img" alt="VS"/>
                  </span>
              </a>
          </div>
           
           </div> <!-- End of Showcase, Find in Library and Map Container -->
    
{% endblock %}
