/*
=====================================================
The "account masthead" bar across the top of the site
=====================================================
*/

.account-masthead {
    height: 31px;
    background: #4679B2;
}

.account-masthead .navbar {
    background-color: #4679B2;
    min-height: 31px;
    border: none;
}

.account-masthead .container {
    padding: 0;
}

.account-masthead .navbar .navbar-right a {
    color: #ffffff;
    text-shadow: none;
    transition: color 0.1s ease;
}

.account-masthead .navbar .navbar-right a:hover {
    color: #000000;
}

.account-masthead .navbar-nav li a {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
========================================================
The "navigation masthead" bar across the top of the site
========================================================
*/

.masthead {
    background: #ffffff;
    height: 80px;
}

.masthead .navbar {
    background-color: #ffffff;
    border: none;
}

.masthead .navbar .navbar-brand span {
    display: block;
    font-size: 12px;
    font-weight: bold;
}

.masthead .navbar .container-fluid .navbar-right {
    padding-top: 20px;
}

.masthead .navbar .container-fluid .navbar-right .nav {
    margin: 0;
}

.masthead .navbar .container-fluid .navbar-right a {
    color: #000000;
    text-shadow: none;
    font-size: 18px;
    transition: color 0.1s ease;
}

.masthead .navbar .container-fluid .navbar-right a:hover {
    color: #7DA1C9;
    text-shadow: none;
    transition: color 0.1s ease;
}