<div id="contribute-central" class="contribute-central">

	<div class="existing-nodes-admin">
		<p class="section-title">Manage Node</p>
			<div id="manage-nodes">
				<table id="manage-nodes-table">
					<thead>
						<tr class="heading"><th>Actions</th><th>Node Title</th><th>Contact Name</th><th>Status</th><th>Last Synchronization</th></tr>
					</thead>
					<tbody>
				    {% for node in c.harvested_nodes %}
				    	<tr>
				    		<td>
				    			<img src="/images/node_edit.png" alt="Edit" title="Edit"/><img src="/images/node_view.png" alt="View" title="View"/><img src="/images/node_delete.png" alt="Delete" title="Delete"/>
				    			<img src="/images/node_schedule.png" alt="Schedule" title="Schedule"/><img src="/images/node_refresh.png" alt="Refresh" title="Refresh"/>
				    		</td>
				    		<td>{{ node.title }}</td>
				    		<td>{{ node.node_admin.name }}</td>
				    		<td>Synchronized</td>
				    		<td>2012-06-06</td>
				    	</tr>
				    {% endfor %}
				    </tbody>
				</table>
			</div>
	</div>

	<div class="create-node-admin">
		<p>Harvest new node? <a href="#" class="not-implemented">Click here</a></p>
	</div>

</div>


