<div>
    <h2><img src="/images/create_node.png" alt="">{{ _('CONTRIBUTE') }}</h2>
    <div class="bordered-container">
        {% if h.check_access('package_create') %}
        <p>
            Want to help? <a href="/ngds/contribute/dataset/new">Share data</a> with us.
        </p>
        <p>
            Want to upload your data in bulk? <a href="{{ h.url_for(controller='ckanext.ngds.ngdsui.controllers.contribute:ContributeController', action='bulk_upload') }}">Bulk Upload data</a>.
        </p>
        {% endif %}
    </div>

</div>


