<div id="contribute-central" class="contribute-central">

<p class="section-title">{{_('Contribute Data')}}</p>
<p>{{_('If you are interested in contributing data to NGDS, you can either go to any of the existing nodes or set up a node by yourself.')}}</p>

	<div id="existing-nodes" class="existing-nodes">
		<p class="sub-section-title"><img src="/images/manage_nodes.png" alt="V"/>  {{_('Existing NGDS Nodes')}}</p>
			<div id="nodes-display">
				<table>
				    {% for node in c.harvested_nodes %}
				  	  <tr><td><img src="/images/node_default.png"/></td><td><a href="#">{{ node.title }}</a></td></tr>	
				    {% endfor %}
				</table>
			</div>
	</div>

	<div id="create-node" class="create-node">
		<p class="sub-section-title"><img src="/images/create_node.png" alt="V"/>  {{_('Set up a node')}}</p>
		<p>{{_('Want to set up your own node?')}}</p>
		<p><a href="#" class="not-implemented">{{_('Click here')}}</a> {{_('to view instructions on how to create a NGDS node.')}}</p>
	</div>

</div>