{% extends "page_ngds.html" %}
{% set active_page = "contribute" %}
{% set isEdit = c.isEdit %}
{% set action = c.action %}
{% set node = c.node %}
{% set node_admin = c.node.node_admin %}
{%- block content %}


<style type="text/css">
table.bottomBorder { border-collapse:collapse; }
table.bottomBorder td, table.bottomBorder th { border-left:1px dotted black;padding:5px; }
</style>

<style type="text/css">
   /* This CSS is just for presentational purposes. */
  

   /* This CSS is used for the Show/Hide functionality. */
   .more {
      display: none;
      
       }
   a.showLink, a.hideLink {
      text-decoration: none;
      color: #36f;
      padding-left: 8px;
       }
   a.hideLink {
       }
   a.showLink:hover, a.hideLink:hover {
      border-bottom: 1px dotted #36f; }
</style>

<script language="javascript" type="text/javascript">
function showHide(shID) {
   if (document.getElementById(shID)) {
      if (document.getElementById(shID+'-show').style.display != 'none') {
         document.getElementById(shID+'-show').style.display = 'none';
         document.getElementById(shID).style.display = 'block';
      }
      /*
      else {
         document.getElementById(shID+'-show').style.display = 'inline';
         document.getElementById(shID).style.display = 'none';
      }*/
   }
}
</script>

<script type="text/javascript">
function invokeAction(url,action)
{

/*	var msg = "Harevested Node will be deleted. Do you want to continue?";

	if(action=='edit'){
		msg = "Do you want to edit the harvested Node?";
	} else if(action =='read'){
		msg = "View the full details about the Node?";
	}*/
	if(action=='delete'){
		if(confirm("Harevested Node will be deleted. Do you want to continue?")){
			
		}else{
			return false;
		}
	}
	window.location.href =url;		
}
</script>

<div id="contribute-central" class="contribute-central">
	<!--<h1>Harvest a Resource {% if action=='edit_save' %} - Edit {%  endif %}</h1>-->
	<p style="text-align:left;line-height:18px;"><span style="font-family:Arial;font-size:30px;font-weight:bold;font-style:normal;text-decoration:none;color:#000000;">Harvesting</span></p> 
		


<p style="text-align:right;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;display:none;color:#000000;">Add Node</span></p>
<hr>

<p style="text-align:left;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Please <a href="#" id="example_link" class="showLink" onclick="showHide('example');return false;">edit</a> the selected node.</span></p>
	

		
<div id="example-show" class="showLink">
<table class="bottomBorder"  FRAME=VOID  width="1000" id="manage-nodes-table"  >
					
					<tbody >
				    
				    	<tr>
				    		<td>
				    			
<p style="text-align:center;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Logo: </span><img src="/images/node_edit.png" ><span style="font-family:Arial;font-size:10px;font-weight:normal;font-style:normal;text-decoration:underline;color:#0000FF;">  (upload)</span></p>


				    			
				    		</td>
				    		<td>
<p style="text-align:center;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">URL</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">: {{ node.url }}</span>
</p>

				    		</td>
				    		<td>
				    			<p style="text-align:center;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Frequency</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">: {% if node.frequency=="monthly" %} Once every month {% elif node.frequency=="weekly" %} Once every week {% elif node.frequency=="daily" %} Once a day {% elif node.frequency=="manually" %} Manual synchronization only {% endif%}</span></p>

				    		</td>
				    		
				    	</tr>
				    		<tr>
				    		<td>
				    			<p style="text-align:center;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Name</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">: {{node_admin.name}}</span></p>
				    			
				    		</td>
				    		<td><p style="text-align:center;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Email</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">: <a href="mailto:{{node_admin.email}}">{{node_admin.email}}</a></span></p>
				    		</td>
				    		<td align="right" ></td>
				    		
				    	</tr>
				    	</tr>
				    		<tr>
				    		<td>
				    			<p style="text-align:center;"><span style="font-family:Arial;font-size:11px;font-weight:normal;font-style:normal;display:none;text-decoration:none;color:#333333;">Delete this node 


				    			 </span> <span style="font-family:Arial;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">  <button onclick="myFunction()">Sync this node</button></span></p>
				    			
				    		</td>
				    		<td align="right" ></td>
				    		<td align="right" ></td>
				    	</tr>
				    
				    </tbody>
				</table> </div>
<div id="example" class="more">
				
				<form method="post" action="{{ h.url_for(controller='ckanext.ngds.ngdsui.controllers.contribute:ContributeController', action=action) }}" >
					<input id="id" type="hidden" name="id" value="{{ node.id }}"/>	
					<input id="node_admin_id" type="hidden" name="node_admin_id"  value="{{ node.node_admin_id }}">	
				<table class="bottomBorder"  FRAME=VOID  width="1000" id="manage-nodes-table"  >
					
					<tbody >
				    
				    	<tr>
				    		<td>
				    			
<p style="text-align:center;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Logo: </span><img src="/images/node_edit.png" ><span style="font-family:Arial;font-size:10px;font-weight:normal;font-style:normal;text-decoration:underline;color:#0000FF;">  (upload)</span></p>


				    			
				    		</td>
				    		<td>
<p style="text-align:center;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">URL</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">: <input id="url" type="text" name="url" value = "{{ node.url }}"></input></span>
</p>

				    		</td>
				    		<td>
				    			<p style="text-align:center;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Frequency</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">: <SELECT id="frequency"  class="unique"  name = "frequency"   >
<OPTION  value="Choose">Choose</OPTION>
<OPTION  value="monthly" {% if node.frequency=="monthly" %} selected {% endif %} >Once every month</OPTION>
<OPTION  value="weekly" {% if node.frequency=="weekly" %} selected {% endif %} >Once every week</OPTION>
<OPTION  value="daily" {% if node.frequency=="daily" %} selected {% endif %} >Once a day</OPTION>
<OPTION  value="manually" {% if node.frequency=="manually" %} selected {% endif %}>Manual synchronization only</OPTION>
</SELECT></span></p>

				    		</td>
				    		
				    	</tr>
				    		<tr>
				    		<td>
				    			<p style="text-align:center;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Name</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">: <input id="name" type="text" name="name" value = "{{node_admin.name}}"></input></span></p>
				    			
				    		</td>
				    		<td><p style="text-align:center;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Email</span><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">: <input id="email" type="text" name="email" value = "{{node_admin.email}}"></input></span></p>
				    		</td>
				    		<td align="right" ></td>
				    		
				    	</tr>
				    	</tr>
				    		<tr>
				    		<td>
				    			<p style="text-align:center;"><span style="font-family:Arial;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"><button onclick="invokeAction( '{{ h.url_for(controller='ckanext.ngds.ngdsui.controllers.contribute:ContributeController', action='delete', id=node.id) }}', 'delete')">Delete this node </button> </span>
				    				<img src="/images/node_delete.png" alt="Delete" title="Delete" onclick="invokeAction( '{{ h.url_for(controller='ckanext.ngds.ngdsui.controllers.contribute:ContributeController', action='delete', id=node.id) }}', 'delete')" style="cursor: pointer;cursor: hand;display:none"/>

				    				<span style="font-family:Arial;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;display:none;color:#333333;">  Sync this node</span></p>
				    			
				    		</td>
				    		<td align="right" ></td>
				    		<td align="right" ></td>
				    	</tr>
				    
				    </tbody>
				</table>
				<p style="text-align:right;"><INPUT id="u106" type="submit" class="u106" name="save" value="Finish"   ><INPUT Type="button" VALUE="Cancel" onClick="history.go(0);return true;"></p>
				</form>
</div>



				<p style="text-align:left;line-height:18px;display:none"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">This is the record for AGS.</span></p>



<!--
				<table id="manage-nodes-table" width="500" >
					<thead>
						<tr >


							<th ><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Date</span>
							</th><th><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Records</span></th>
							</tr>
					</thead>
					<tbody style="border:1px solid black; border-collapse:collapse;">
				  
				    	<tr >
				    		
				    		<td  style="border:1px solid black;border-collapse:collapse;" >  1 </td>
				    		<td style="border:1px solid black;border-collapse:collapse;"> 1</td>
				    		
				    	</tr>

				    	<tr >
				    		
				    		<td style="border:1px solid black;"> 1</td>
				    		<td style="border:1px solid black;">1 </td>
				    		
				    	</tr>

				    	<tr >
				    		
				    		<td style="border:1px solid black;"> 1</td>
				    		<td style="border:1px solid black;"> 1</td>
				    		
				    	</tr>

				   
				    </tbody>
				</table> -->

				
				
<!--
$('#amount').click(function() {
    $('#amount').css('display', 'none');
    $('#amount_entry')
        .val($('#amount').text())
        .css('display', '')
        .focus();
});

$('#amount_entry').blur(function() {
    $('#amount_entry').css('display', 'none');
    $('#amount')
        .text($('#amount_entry').val())
        .css('display', '');
});-->
				<!--

<div id="u73_rtf"><p style="text-align:left;line-height:18px;"><span style="font-family:Arial;font-size:11px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">* Notes: the protocol type should be CSW</span></p></div>

<p style="text-align:left;line-height:18px;"><span style="font-family:Arial;font-size:14px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Purpose</span>


	
<p style="text-align:left;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Do you want email notifications of synchronization results:</span></p>
<p style="text-align:left;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"><INPUT id="u80" name="u80" style=" left:-3px; top:-2px;" type="radio" value="radio"   >Yes</span>
<span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"><INPUT id="u81" name="u81" style=" left:-3px; top:-2px;" type="radio" value="radio"   >No
</p>

<p style="text-align:left;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Do you allow this resource to be synchronized at an interval:</span></p>
<p style="text-align:left;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"><INPUT id="u82" name="u82" style=" left:-3px; top:-2px;" type="radio" value="radio"   >Yes</span>
<span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"><INPUT id="u83" name="u83" style=" left:-3px; top:-2px;" type="radio" value="radio"   >No
</p>

<p style="text-align:left;line-height:18px;"><span style="font-family:Arial;font-size:14px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">Sychronize</span>

<p style="text-align:left;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Choose actions to be performed during synchronization (multi choices): </span></p>
<p style="text-align:left;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"><INPUT id="u95" name="u95" style=" left:-3px; top:-2px;" type="radio" value="radio"   >Update this resource description</span></p>
<p style="text-align:left;line-height:18px;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;"><INPUT id="u96" name="u96" style=" left:-3px; top:-2px;" type="radio" value="radio"   >How often do you want this resource to be revisited:</span></p>
<p style="text-align:left;"><span style="font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">Copy the entire contents of this remote catalog into the local catalog automatically</span></p>

<SELECT id="u92" class="u92"   >
<OPTION selected value="Choose">Choose</OPTION>
<OPTION  value="Once every week">Once every week</OPTION>
<OPTION  value="Once a day">Once a day</OPTION>
<OPTION  value="Manual synchronization only">Manual synchronization only</OPTION>
</SELECT>

<p/>
<p/>
<p/>
<p/>
<p/>

<p><INPUT id="u106" type="submit" class="u106" value="Finish"   ></p>

-->
<!--

		
	<form method="post" action="{{ h.url_for(controller='ckanext.ngds.ngdsui.controllers.contribute:ContributeController', action=action) }}" >
		<input id="id" type="hidden" name="id" {% if isEdit %} value="{{ node.id }}"{% endif %}/>	
		<div style="float:left;position:absolute;">
		<label for="data-method" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Data Method:</label>
		
		<input id="data-method" type="radio" name="data-method" checked><p style="font-size: 12px;text-align: left;display:inline;">Register resource on the network</p>
		<br><br>

		<label for="protocol" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Protocol:</label>
		
		<input id="protocol" type="radio" name="protocol"  checked ><p style="font-size: 12px;text-align: left;display:inline;">CSW</p>
		<br><br>
		<label for="url" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Host URL:</label>
		
		<input id="url" type="text" name="url" {% if isEdit %} value="{{ node.url }}"{% endif %}>		
		<br><br>
		<label for="title" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Title:</label>
		
		<input id="title" type="text" name="title" {% if isEdit %} value="{{ node.title }}"{% endif %}>				
		<br><br>
		<label for="field-purpose" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Purpose of registration:</label>
		
		<input id="purpose" type="checkbox" name="purpose" checked>Allow this resource to be synchronized</input>						

				<br><br>
		<label for="send_email" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Do you want to receive e-mail notifications of synchronization results:</label><br>
		
		<input id="send_email" type="checkbox" name="send_email" checked>Yes, notify me!</input><br>
		<input id="send_email" type="checkbox" name="send_email" >No, thanks</input><br><br>

		<label for="field-actions" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Choose actions to be performed during synchronization:</label><br>
		
		<input id="actions" type="checkbox" name="actions" checked>Update this resource description</input><br>
		<input id="actions" type="checkbox" name="actions" >Copy the entire contents of this remote catalog into the local catalog</input><br>		
		<input id="actions" type="checkbox" name="actions" >Automatically approve newly acquired resources</input>
						<br><br> 
		<label for="frequency" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">How often do you want this resource to be revisited:</label><br>
		
		<input id="frequency"  type="checkbox" name="frequency" class="unique" value="monthly" {% if node.frequency=="monthly" %} checked {% endif %}><p style="font-size: 12px;text-align: left;display:inline;">Once every month</p><br>
		<input type="checkbox" name="frequency" class="unique"  value="weekly" {% if node.frequency=="weekly" %} checked {% endif %}><p style="font-size: 12px;text-align: left;display:inline;">Once every week</p><br>		
		<input type="checkbox" name="frequency"  class="unique" value="daily" {% if node.frequency=="daily" %} checked {% endif %}><p style="font-size: 12px;text-align: left;display:inline;">Once a day</p><br>
		<input type="checkbox" name="frequency"  class="unique" value="manual" {% if node.frequency=="manual" %} checked {% endif %}><p style="font-size: 12px;text-align: left;display:inline;">Manual synchronization only</p><br><br>
		</div>

		<div style="border-left:30px;float:right;position:relative;">
		<p class="sub-section-title">Node Admin Details:</p>
		<input id="node_admin_id" type="hidden" name="node_admin_id" {% if isEdit %} value="{{ node.node_admin_id }}"{% endif %}>	
		<label for="name" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Name:</label>
		<input id="name" type="text" name="name" {% if isEdit %} value="{{ node_admin.name }}"{% endif %}><br>
		<label for="organization" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Organization:</label>
		<input id="organization" type="text" name="organization" {% if isEdit %} value="{{ node_admin.organization }}"{% endif %}><br>
		<label for="email" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Email:</label>
		<input id="email" type="text" name="email" {% if isEdit %} value="{{ node_admin.email }}"{% endif %}><br>		
		<label for="phone" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Phone:</label>
		<input id="phone" type="text" name="phone" {% if isEdit %} value="{{ node_admin.phone }}"{% endif %}><br>
		<label for="street" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Street:</label>
		<input id="street" type="text" name="street" {% if isEdit %} value="{{ node_admin.street }}"{% endif %}><br>
		<label for="city" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">City:</label>
		<input id="city" type="text" name="city" {% if isEdit %} value="{{ node_admin.city }}"{% endif %}><br>			
		<label for="state" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">State:</label>
		<input id="state" type="text" name="state" {% if isEdit %} value="{{ node_admin.state }}"{% endif %}><br>		
		<label for="zip" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Zipcode:</label>
		<input id="zip" type="text" name="zip" {% if isEdit %} value="{{ node_admin.zip }}"{% endif %}><br>	<br>
		
		<button type="submit" name="save">Save</button>
		</div>

	</form> -->


</div>

{% endblock %}

