{% extends "page_ngds.html" %}
{% set active_page = "contribute" %}
{%- block content %}
<div id="contribute-central" class="contribute-central">
	<p class="section-title">Harvest a Resource</p>
	<div style="width:695px; height:600px; text-align:left;float:left; position:relative;">
	<form class="dataset-form form-horizontal" method="post" action="/ngds/harvest/new" data-module="basic-form">
		<label for="field-title" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Data Method:</label>
		
		<input id="data-method" type="radio" name="data-method" checked >Register resource on the network</input>
		<br><br>

		<label for="field-protocol" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Protocol:</label>
		
		<input id="protocol" type="radio" name="protocol"  checked >CSW</input>
		<br><br>
		<label for="field-protocol" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Host URL:</label>
		
		<input id="url" type="text" name="url"/>		
		<br><br>
		<label for="field-title" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Title:</label>
		
		<input id="title" type="text" name="title"/>				
		<br><br>
		<label for="field-purpose" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Purpose of registration:</label>
		
		<input id="purpose" type="checkbox" name="purpose" checked>Allow this resource to be synchronized</input>						

				<br><br>
		<label for="field-title" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Do you want to receive e-mail notifications of synchronization results:</label><br>
		
		<input id="email" type="checkbox" name="email" checked>Yes, notify me!</input><br>
		<input id="email" type="checkbox" name="email" >No, thanks</input>
				<br><br>
		<label for="field-actions" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Choose actions to be performed during synchronization:</label><br>
		
		<input id="actions" type="checkbox" name="actions" checked>Update this resource description</input><br>
		<input id="actions" type="checkbox" name="actions" >Copy the entire contents of this remote catalog into the local catalog</input><br>		
		<input id="actions" type="checkbox" name="actions" >Automatically approve newly acquired resources</input>
						<br><br>
		<label for="field-freq" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">How often do you want this resource to be revisited:</label><br>
		
		<input id="frequency" type="checkbox" name="frequency" class="unique" value="monthly" checked>Once every month</input><br>
		<input id="frequency" type="checkbox" name="frequency" class="unique"  value="weekly">Once every week</input><br>		
		<input id="frequency" type="checkbox" name="frequency"  class="unique" value="daily">Once a day</input><br>
		<input id="frequency" type="checkbox" name="frequency"  class="unique" value="manual">Manual synchronization only</input><br><br>
		<label for="field-freq" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Node ID:</label>
		<input id="node_admin_id" type="text" name="node_admin_id"/><br>
		<button type="submit" name="save">Save</button>

	</form>


	</div>
</div>

{% endblock %}

