{% extends "page_ngds.html" %}
{% set active_page = "contribute" %}
{% set isEdit = c.isEdit %}
{% set action = c.action %}
{% set node = c.node %}
{% set node_admin = c.node.node_admin %}
{%- block content %}
<div id="contribute-central" class="contribute-central">
	<p class="section-title">Harvest a Resource</p>
	<div style="width:850px;min-height:600px;text-align:left;float:left; position:relative;">
	<form method="post" action="/ngds/harvest/{{action}}" >
		<input id="id" type="hidden" name="id" {% if isEdit %} value="{{ node.id }}"{% endif %}/>	
		<div style="float:left;position:absolute;">
		<label for="field-title" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Data Method:</label>
		
		<input id="data-method" type="radio" name="data-method" checked >Register resource on the network</input>
		<br><br>

		<label for="field-protocol" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Protocol:</label>
		
		<input id="protocol" type="radio" name="protocol"  checked >CSW</input>
		<br><br>
		<label for="field-protocol" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Host URL:</label>
		
		<input id="url" type="text" name="url" {% if isEdit %} value="{{ node.url }}"{% endif %}/>		
		<br><br>
		<label for="field-title" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Title:</label>
		
		<input id="title" type="text" name="title" {% if isEdit %} value="{{ node.title }}"{% endif %}/>				
		<br><br>
		<label for="field-purpose" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Purpose of registration:</label>
		
		<input id="purpose" type="checkbox" name="purpose" checked>Allow this resource to be synchronized</input>						

				<br><br>
		<label for="send_email" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Do you want to receive e-mail notifications of synchronization results:</label><br>
		
		<input id="send_email" type="checkbox" name="send_email" checked>Yes, notify me!</input><br>
		<input id="send_email" type="checkbox" name="send_email" >No, thanks</input><br><br>

		<label for="field-actions" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Choose actions to be performed during synchronization:</label><br>
		
		<input id="actions" type="checkbox" name="actions" checked>Update this resource description</input><br>
		<input id="actions" type="checkbox" name="actions" >Copy the entire contents of this remote catalog into the local catalog</input><br>		
		<input id="actions" type="checkbox" name="actions" >Automatically approve newly acquired resources</input>
						<br><br>
		<label for="field-freq" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">How often do you want this resource to be revisited:</label><br>
		
		<input id="frequency" type="checkbox" name="frequency" class="unique" value="monthly" {% if node.frequency=="monthly" %} checked {% endif %}>Once every month</input><br>
		<input id="frequency" type="checkbox" name="frequency" class="unique"  value="weekly" {% if node.frequency=="weekly" %} checked {% endif %}>Once every week</input><br>		
		<input id="frequency" type="checkbox" name="frequency"  class="unique" value="daily" {% if node.frequency=="daily" %} checked {% endif %}>Once a day</input><br>
		<input id="frequency" type="checkbox" name="frequency"  class="unique" value="manual" {% if node.frequency=="manual" %} checked {% endif %}>Manual synchronization only</input><br><br>
		</div>

		<div style="border-left:30px;float:right;position:relative;">
		<p class="sub-section-title">Node Admin Details:</p>
		<input id="node_admin_id" type="hidden" name="node_admin_id" {% if isEdit %} value="{{ node.node_admin_id }}"{% endif %}/>	
		<label for="field-admin-name" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Name:</label>
		<input id="name" type="text" name="name" {% if isEdit %} value="{{ node_admin.name }}"{% endif %}/><br>
		<label for="field-admin-organ" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Organization:</label>
		<input id="organization" type="text" name="organization" {% if isEdit %} value="{{ node_admin.organization }}"{% endif %}/><br>
		<label for="field-admin-email" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Email:</label>
		<input id="email" type="text" name="email" {% if isEdit %} value="{{ node_admin.email }}"{% endif %}/><br>		
		<label for="field-admin-phone" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Phone:</label>
		<input id="phone" type="text" name="phone" {% if isEdit %} value="{{ node_admin.phone }}"{% endif %}/><br>
		<label for="field-admin-street" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Street:</label>
		<input id="street" type="text" name="street" {% if isEdit %} value="{{ node_admin.street }}"{% endif %}/><br>
		<label for="field-admin-city" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">City:</label>
		<input id="city" type="text" name="city" {% if isEdit %} value="{{ node_admin.city }}"{% endif %}/><br>			
		<label for="field-admin-state" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">State:</label>
		<input id="state" type="text" name="state" {% if isEdit %} value="{{ node_admin.state }}"{% endif %}/><br>		
		<label for="field-admin-zip" style="width: 120px;font-size: 14px;text-align: right;font-weight: bold;">Zipcode:</label>
		<input id="zip" type="text" name="zip" {% if isEdit %} value="{{ node_admin.zip }}"{% endif %}/><br>	<br>
		
		<button type="submit" name="save">Save</button>
		</div>

	</form>


	</div>
</div>

{% endblock %}

