{% extends "page_ngds.html" %}

{% block content %}
<h1>
	Contribute a Dataset
</h1>

<div id="info-tip-container">
	<div class="cell icon">
		<img src="/images/info_indicator.png">
	</div>

	<div class="cell upload-info-tip">
		<p>Submit or manage existing datasets to share with the NGDS community.</p>
	</div>
</div>

<div class="upload-container">
	<div class="title">1. Create dataset</div>
	<div class="title">2. Add data</div>
	<div class="title">3. Additional data</div>
</div>

{% endblock %}