{% extends "package/base.html" %}

{% block primary %}


{% if c.pkg_dict.name %}
    {{super()}}
{% else %}
    <div class="primary expanded"></div>
        {% block primary_content %}
            {% if c.pkg_dict.name %}
                <section class="module">
                    {% else %}
                    <section class="module dataset_create">
                        {% endif %}
                        <div class="module-content">
                            {% block form %}{{ c.form | safe }}{% endblock %}
                        </div>
                </section>
    {% endblock %}
{% endif %}


{% endblock %}



    {% block secondary %}
        {% if c.pkg_dict.name %}
           {{super()}}
        {% endif %}
    {% endblock %}

