{% extends "package/base_form_page.html" %}

{% if c.userobj %}
  {% set logged_in = true %}
{% else %}
  {% set logged_in = false %}
{% endif %}

{% block subtitle %}{{ _('Add data to the dataset') }}{% endblock %}

{% block form %}{% snippet 'package/snippets/resource_form.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, stage=stage, allow_upload=logged_in %}{% endblock %}

{% block secondary_content %}
  {% if pkg_dict and pkg_dict.state != 'draft' %}
    {% snippet 'package/snippets/info.html', pkg=pkg_dict, action='resource_new' %}
  {% else %}  
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
<!-- <script type="text/javascript" src="/fanstatic/vendor/:version:2013-03-06T16:49:10.08/:bundle:bootstrap/js/bootstrap.min.js;jed.min.js;select2/select2.min.js;jquery-fileupload/jquery.iframe-transport.min.js;jquery-fileupload/jquery.fileupload.min.js"></script>

<script type="text/javascript" src="/fanstatic/base/:version:2013-03-06T16:49:10.07/:bundle:plugins/jquery.inherit.min.js;plugins/jquery.proxy-all.min.js;plugins/jquery.url-helpers.min.js;plugins/jquery.date-helpers.min.js;plugins/jquery.slug.min.js;plugins/jquery.slug-preview.min.js;plugins/jquery.truncator.min.js;plugins/jquery.form-warning.min.js;sandbox.min.js;module.min.js;pubsub.min.js;client.min.js;notify.min.js;i18n.min.js;main.min.js;modules/select-switch.min.js;modules/slug-preview.min.js;modules/basic-form.min.js;modules/confirm-action.min.js;modules/api-info.min.js;modules/autocomplete.min.js;modules/custom-fields.min.js;modules/related-item.min.js;modules/data-viewer.min.js;modules/resource-form.min.js;modules/resource-upload-field.min.js;modules/follow.min.js;modules/activity-stream.js;modules/dashboard.min.js"></script>
 -->
{% endblock %}

{% block breadcrumb_content %}
  
  <li>{% link_for _('Datasets'), controller='package', action='search', highlight_actions = 'new index' %}</li>
  <li>{% link_for h.dataset_display_name(pkg_dict)|truncate(30), controller='package', action='read', id=pkg_dict.name %}</li>
  <li class="active"><a href="">Add resource</a></li>
{% endblock %}

