{% extends "package/base.html" %}

{% block subtitle %}{{ pkg.title or pkg.name }}{% endblock %}


{% block links -%}
    {{ super() }}
    <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for(controller='package', action='read', id=pkg.id, format='rdf', qualified=True) }}"/>
{% endblock -%}



{% block primary_content %}
  {% block package_revision_info %}

<!--     {% if c.pkg_revision_id %}
      <div class="module info">
        <p class="module-content">
          {% set timestamp = h.render_datetime(c.pkg_revision_timestamp, with_hours=True) %}
          {% set url = h.url(controller='package', action='read', id=pkg.name) %}

          {% if c.pkg_revision_not_latest %}
            {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
          {% else %}
            {% trans timestamp=timestamp %}This is the current revision of this dataset, as edited at {{ timestamp }}.{% endtrans %}
          {% endif %}
        </div>
      </div>
    {% endif %} -->

  {% endblock %}

  <article class="module prose">



    {% block primary_content_inner %}{% endblock %}
  </article>
{% endblock %}


