{% extends "page_ngds.html" %}
{% set active_page="library" %}
{% set default_group = h.get_default_group() %}

{#
	A list of variables we need in this page.
	* is_search_mode. Has there been a successful search, ie. has a query been received and are results to be expected.
#}

{% block content %}
<div id="library-search-container">
	<div class="library-search-accordion-header adjusted-top-search">
		<div class="library-search-browse-header" style="-webkit-border-radius:0;"><p>Narrow your results</p></div>	
		<div class="search-browse-inverted-dome adjusted-bottom-search"></div>
    <div style="overflow-y:auto;overflow-x:hidden;height:350px;width:100%">
      {% set facet_list = h.get_ngdsfacets() %}
      {% for facet in facet_list %}
          {{ h.snippet('snippets/ngds_facets.html', facet=facet,topfacet=True,extras={'id':c.group_dict.id}) }}
      {% endfor %}
    </div>

	</div>

	<div class="library-search-bar adjusted-top-search">
			<p>Search</p>
			<form action="{% url_for controller='organization', id=default_group , action='read' %}" method="get">
          <fieldset>
				    <input type="text" class="search-browse-big-bar" name="q" value="{{search_query_context}}"/>
				    <input type="submit" value="Go"/>
          </fieldset>
			</form>
	</div>
  
</div>


<section class="search-results">
  
  <div class="search-results-preamble-container">
      <span class="search-results-preamble">Found {{ c.page.item_count }} results for "{{ c.q }}"></span>
  </div>

  <div class="sort-container">
      <span class="left">Sort By 
        <select>
            <option>Recently Added</option>
            <option>Geothermal Topic</option>
            <option>Data Format</option>
            <option>Date Published</option>
          </select>
      </span>
      <span class="right">
        <button class="not-implemented">Save this Search</button>
      </span>
      <span>
  </div>
    <div class="search-results-container">
{% snippet 'snippets/search_results.html', packages=c.page.items %}
        <div class="search-results-pagination">
            <p class="search-results-num-pages">Page 1 of 100</p>
                <div class="search-results-page-nums">
                    <a href="#">&lt;&lt;</a>
                    <a href="#" class="not-implemented">1</a>
                    <a href="#" class="not-implemented">2</a>
                    <a href="#" class="not-implemented">3</a>
                    <a href="#" class="not-implemented">4</a>
                    <p>...</p>
                    <a href="#" class="not-implemented">100</a>
                    <a href="#" class="not-implemented">&gt;&gt;</a>
                </div>
                <div class="search-results-num-items">
                  <p>Items per page</p>
                  <select>
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                  </select>
                </div>
        </div>
    </div>
</section>

{% endblock %}