{% extends "page_ngds.html" %}
{% set active_page="library" %}

{#
	A list of variables we need in this page.
	* is_search_mode. Has there been a successful search, ie. has a query been received and are results to be expected.
#}

{% block content %}
<div id="library-search-container">
	<div class="library-search-accordion-header adjusted-top-search">
		<div class="library-search-browse-header" style="-webkit-border-radius:0;"><p>Narrow your results</p></div>	
		<div class="search-browse-inverted-dome adjusted-bottom-search"></div>
    {% include "/snippets/search_accordion.html" %}
	</div>

	<div class="library-search-bar adjusted-top-search">
			<p>Search</p>
			<form action="/ngds/library/search" method="get">
				<input type="text" class="search-browse-big-bar" name="q" value="{{search_query_context}}">
				<input type="submit" value="Go">
			</form>
	</div>
  
</div>


<section class="search-results">
  
  <div class="search-results-preamble-container">
      <span class="search-results-preamble">Found {{ c.page.item_count }} results for "{{ search_query_context }}"</span>
  </div>

  <div class="sort-container">
      <span class="left">Sort By 
        <select>
            <option>Recently Added</option>
            <option>Geothermal Topic</option>
            <option>Data Format</option>
            <option>Date Published</option>
          </select>
      </span>
      <span class="right">
        <button class="not-implemented">Save this Search</button>
      </span>
      <span>
  </div>
    <div class="search-results-container">
        {% for package in c.page.items %}
          <div class="search-results-item">
              <a class="title not-implemented" href="#">{{package.title}}</a>
              <div class="search-results-meta spaced">
                  <p class="regular-meta-item">{{package.author}}</p>
                  <p class="regular-meta-item">Published: {{package.metadata_created}}</p>
                  {% if package.is_dataset %}
                  <img src="/images/u179_normal.png"><p class="regular-meta-item inline raise"> Data set</p>
                  {% elif package.is_publication %}
                  <img src="/images/u495_normal.png"><p class="regular-meta-item inline raise"> Publication</p>
                  {% elif package.is_document %}
                  <img src="/images/u497_normal.png"><p class="regular-meta-item inline raise"> Document</p>
                  {% endif %}
              </div>
              <div class="search-results-actions">
                <img src="/images/u448_normal.png"><img src="/images/u448_normal.png"><img src="/images/u448_normal.png"><img src="/images/u448_normal.png"><img src="/images/u448_normal.png">
                <img src="/images/u190_normal.png" class="left-spaced-regular"><p class="regular-meta-item inline not-implemented">{{package.reviews}} reviews</p>
                <p class="regular-meta-item">{{package.downloads}} downloads</p>
                {% if package.is_mappable %}
                <span><img src="/images/u230_normal.png"> <a class="regular-meta-item inline not-implemented" href="#">Map</a></span>
                <span class="action-item-spaced"><img src="/images/u140_normal.png"> <a class="regular-meta-item inline not-implemented" href="#">Favorite</a></span>
                {% else %}
                <span><img src="/images/u140_normal.png"> <a class="regular-meta-item inline not-implemented" href="#">Favorite</a></span>
                {% endif %}
                {% if package.is_downloadable %}
                <span class="action-item-spaced"><img src="/images/u157_normal.png"> <a class="regular-meta-item inline not-implemented" href="#">Download</a></span>
                {% endif %}                
                <span class="action-item-spaced"><img src="/images/u173_normal.png"> <a class="regular-meta-item inline not-implemented" href="#">Send</a></span>
              </div>
          </div>
        {% endfor %}
        <div class="search-results-pagination">
            <p class="search-results-num-pages">Page 1 of 100</p>
                <div class="search-results-page-nums">
                    <a href="#">&lt;&lt;</a>
                    <a href="#" class="not-implemented">1</a>
                    <a href="#" class="not-implemented">2</a>
                    <a href="#" class="not-implemented">3</a>
                    <a href="#" class="not-implemented">4</a>
                    <p>...</p>
                    <a href="#" class="not-implemented">100</a>
                    <a href="#" class="not-implemented">&gt;&gt;</a>
                </div>
                <div class="search-results-num-items">
                  <p>Items per page</p>
                  <select>
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                  </select>
                </div>
        </div>
    </div>
</section>

{% endblock %}