{% extends "page_ngds.html" %}
{% set active_page="library" %}
{% set default_group = h.get_default_group() %}

{#
	A list of variables we need in this page.
	* is_search_mode. Has there been a successful search, ie. has a query been received and are results to be expected.
#}

{% block content %}

<div id="library-container">

  <div id="library-search-bar">
        <form action="{% url_for controller='organization', id=default_group , action='read' %}" method="get">
            <fieldset>
              <label >Search</label>
              <input type="text" class="search-browse-big-bar" name="q" value="{{search_query_context}}"/>
              <input type="submit" value="Go"/>
            </fieldset>
        </form>
  </div>
  <div id="library-search-results">

    <div class="library-search-accordion">
      <ul class="accordion">
        {% set facet_list = h.get_ngdsfacets() %}
     
        {% for facet in facet_list %}
          <li>
            {% if c.group_dict.id %}
            {{ h.snippet('snippets/ngds_facets.html', facet=facet,topfacet=True,extras={'id':c.group_dict.id}) }}
            {% else %}
            {{ h.snippet('snippets/ngds_facets.html', facet=facet,topfacet=True) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>

    </div>      
      <section class="search-results">
        <!--
        <div class="search-results-preamble-container">
            <span class="search-results-preamble">Found {{ c.page.item_count }} results for "{{ c.q }}"></span>
        </div> -->

          

           {% for package in c.page.items %}
           <div class="search-results-container">
              {% snippet 'snippets/search_results.html', package=package %}
            </div>
            {% endfor %}
          

              <div class="search-results-pagination">
                  <p class="search-results-num-pages">Page 1 of 100</p>
                      <div class="search-results-page-nums">
                          <a href="#">&lt;&lt;</a>
                          <a href="#" class="not-implemented">1</a>
                          <a href="#" class="not-implemented">2</a>
                          <a href="#" class="not-implemented">3</a>
                          <a href="#" class="not-implemented">4</a>
                          <span>...</span>
                          <a href="#" class="not-implemented">100</a>
                          <a href="#" class="not-implemented">&gt;&gt;</a>
                      </div>
              </div>          

      </section>

  </div>

</div>




<script type="text/javascript" src="/scripts/library/library.js"></script>

{% endblock %}