{#
Construct a facet module populated with links to filtered results.

name
  The field name identifying the facet field, eg. "tags"

title
  The title of the facet, eg. "Tags", or "Tag Cloud"

label_function
  Renders the human-readable label for each facet value.
  If defined, this should be a callable that accepts a `facet_item`.
  eg. lambda facet_item: facet_item.display_name.upper()
  By default it displays the facet item's display name, which should
  usually be good enough

if_empty
  A string, which if defined, and the list of possible facet items is empty,
  is displayed in lieu of an empty list.

count_label
  A callable which accepts an integer, and returns a string.  This controls
  how a facet-item's count is displayed.

extras
  Extra info passed into the add/remove params to make the url

alternative_url
  URL to use when building the necessary URLs, instead of the default
  ones returned by url_for. Useful eg for dataset types.


#}

    {% if facet.display_type=='title' %}

    <h4><a href="#">
      {{ facet.display_name }}</a>
    </h4>
    {% elif facet.display_type=='subtitle' %}
      
      <h4><span style="font-size:11px;">{{ facet.display_name }}</span></h4>
    {% endif %}
    {% if facet.fvalues %}
        <div>
          {% for item in facet.fvalues %}
            {% set href = h.remove_url_param(facet.facet_field, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={facet.facet_field: item.name}, extras=extras, alternative_url=alternative_url) %}
            
            {% set label = label_function(item) if label_function else h.truncate(item.display_name, 22) %}
            
            {% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}

            <a href="{{ href }}" class="facet"><span style="font-size:10px;">{{ label }} {{ count }}</span> </a>
          {% endfor %}

          {% if facet.type=='dynamic_keywords' %}
            <span  style="font-size:10px">
              {% if h.get_param_int('_%s_limit' % facet.facet_field) %}
                <a href="{{ h.remove_url_param('_%s_limit' % facet.facet_field, replace=0, extras=extras, alternative_url=alternative_url) }}" class="read-more">{{ _('Show More {facet}').format(facet=facet.display_name) }}</a>
              {% else %}
                <a href="{{ h.remove_url_param('_%s_limit' % facet.facet_field, extras=extras, alternative_url=alternative_url) }}" class="read-more">{{ _('Show Only Popular {facet}').format(facet=facet.display_name) }}</a>
              {% endif %}
            </span>
          {% endif %}

          {% if facet.subfacet %}
            <ul class="accordion">
              {% for subfacet in facet.subfacet %}
                <li>
                  {{ h.snippet('snippets/ngds_facets.html', facet=subfacet,topfacet=False,extras=extras) }}
                </li>
              {% endfor %}
            </ul>
          {% endif%}

        </div>
    {% else %}
      <div>
          {% if facet.subfacet %}
            <ul class="accordion">
              {% for subfacet in facet.subfacet %}
                <li>
                  {{ h.snippet('snippets/ngds_facets.html', facet=subfacet,topfacet=False,extras=extras) }}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <span style="padding-left:5px;font-size:10px;font-weight:normal;">{{ _('No Results') }}</span>
          {% endif%}        
      </div>
    {% endif %}

