.dataset_create {
  .module-content {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;

    form {
      .control-group {
        .controls {
          input, textarea {
            border: 1px solid lightgrey;
          }

          .select2-choices {
            border: 1px solid lightgrey;
            input {
              border: none;
            }
          }

          div.select2-container {
            width: 500px !important;
          }

          input, ul.select2-choices, textarea {
            width: 850px;
          }

          .control-full {
            div.select2-container {
              width: 850px;
            }
          }

        }
      }
    }
  }

  .stages {
    margin-top: 10px;
    li span, li.last .highlight {
      font-weight: normal;
    }

    li, li:after, li:before {
      border-width: 0px !important;
      background-color: white;
      border: 1px solid grey;
      border-top: 5px solid grey;
      color: black;

      button, span {
        font-weight: bold;
      }

      button.highlight, span.highlight {
        padding-top: 5px;
      }

      .highlight {
        padding: 0;
        font-size: 16px;
        text-align: center;
      }

    }

    li.complete .highlight, li.active .highlight {
      background-color: white;
      color: black;
      padding: 0;
    }

    li.complete .highlight {
      background-color: @ngds-blue;
      color: white;
      border: 2px solid grey;
      border-top: 2px solid grey;
    }

    li.active .highlight {
      border-top: 2px solid #366D96;
    }

    li.uncomplete .highlight {
      background-color: #edeef0;
      border: 2px solid grey;
      border-top: 2px solid grey;
    }

  }

}

span.resource-upload-field {
  float: right;
  margin-right: 30px;
}

.dataset-resource-form {

  .dataset-form-resource-types {

    input[type=radio]:checked + label {
      color: #476276;
    }

    input[type=radio]:checked + label:after {
      background-image: none;
    }

    margin-bottom: 30px;
    margin-top: 30px;

  }
}

