

/* Login */

div#login-popup p:first-child {
	margin-left:15px;
	margin-top:20px;
	
}

div#login-popup p {
	margin-left:15px;
	margin-top:10px;
}

div#login-popup a {
	margin-left:15px;
	margin-top:10px;
}

div#login-popup input[type="text"] {
	margin-left:15px;
	padding:3px;
	font-size:14px;
	font-family:Arial;
	width:200px;
}

div#login-popup input[type="password"] {
	margin-left:15px;
	padding:3px;
	font-size:14px;
	font-family:Arial;
	width:200px;
}

div#login-popup input[type="checkbox"] {
	margin-top:20px;
	margin-left:15px;
}


div#login-popup input[type="submit"]{
	font-family:Arial;
	font-size:14px;
	margin-left:15px;
	width:95px;
}

div#login-popup p.float-left {
	float:left;
}

div#login-popup a.float-right {
	float:right;
}

div#login-popup a.fit-to-login-div {
	margin-right:25px;
}

div#logged-in-popup ul li a {
	color:#000;
}

/* Login end */

div#library-search-container {
	position: relative;
}

div#library-search-container div.library-search-pre, div.library-search-bar {
	display: inline;
	right:0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	height: 40px;
	margin-top: 20px;
	background-color: #dadada;
	border-radius:5px;
	-webkit-border-radius:5px;
	position:absolute;
}	

div#library-search-container div.library-search-pre {
	left:180px;
	margin-left: 65px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #fff;
	padding-top: 10px;
}

div.library-search-bar form {
	display:inline;
}

div.library-search-bar form input[type="submit"] {
	font-size:18px;
	font-weight:bold;
}

div.library-search-bar form input[type="text"] {
	height:24px;
	margin-top:2px;
	font-size:18px;
}

div#library-search-container div.library-search-accordion-header {
	float:left;
	position: absolute;
	margin-top:20px;
	margin-left: 20px;
	width:240px;
}

div#library-search-container div.library-search-browse-header {
	padding-top: 5px;
	height: 40px;
	background-color: #dadada;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align:center;
	margin-bottom:0px;
}

div#library-search-container div.library-search-accordion-header h4 {
	font-size:14px;
	font-weight:bold;
	text-align:left;
}

div#library-search-container div.library-search-accordion-header ul li div {
	font-size:13px;
	text-align:left;
	margin-top:10px;
	margin-bottom:5px;
	border:0px;
	padding-top:0px;
	padding-left:5px;
	padding-right:0px;
	padding-bottom:0px;
}



div#library-search-container div.library-search-accordion-header ul li div div {
	display:block;
}

div#library-search-container div.library-search-accordion-header ul li div div input[type="text"] {
	width:170px;
	float:left;
}

div#library-search-container div.library-search-accordion-header ul li div div button {
	float:right;
	font-size:18px;
}

div#library-search-container div.library-search-accordion-header h4 {
	padding-top:3px;
	padding-bottom:3px;
}

div.library-search-browse-header { 
	margin-bottom:20px;
}

div#library-search-container div.library-search-accordion-header p {
	margin-right: 0px;
	margin-left: 0;
	position: relative;
	font-size: 18px;
	top: 8px;
}

div#library-search-container div.library-search-pre p {
	margin-top:10px;
	margin-left:40px;
}

div#library-search-container div p {
	display: inline;
	font-size: 18px;
	font-family: Arial;
	margin-right: 20px;
	float:none;
	font-weight:bold;
}

div#library-search-container div input[type="text"] {
	width: 500px;
	font-size: 16px;
	margin-right: 10px;
}

.search-browse-big-bar {
	width:590px !important;  /* Good/bad practice to use this? */
}

div#library-search-container div input[type="button"] {
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
}

.adjusted-top-search {
	margin-top:30px !important;
}

.adjusted-bottom-search {
	margin-bottom:40px;
}

div.search-browse-inverted-dome { /* Tres cool. */
	width: 0;
	height: 0;
	border-top: 25px solid #dadada;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
} 

div#content-container {
	padding-bottom:20px;
}


.action-item-spaced {
	margin-left:25px;
}

/*div.map-search {
	background-color:#dadada;
	height:120px;
	width:320px;
	border-radius:5px;
	padding-top:5px;
}

div.map-search span.left {
	margin-left:15px;
}

div.map-search p.map-search-desc {
	margin-left:15px;
	font-family:Arial;
	font-size:12px; 
	margin-bottom:5px;
}

div.map-search input[type="text"] {
	margin-left:15px;
	width:220px;
	font-family:Arial;
	font-size:20px;
}

div.map-search input[type="submit"] {
	font-family:Arial;
	font-size:20px;
	width:50px;
	height:30px;
	margin-left:10px;
}*/


/*Contribute Central Styles*/

div.contribute-central {
	margin-left:10px;
	min-height:450px;
}

div.contribute-central p {
	font-size:13px;
	text-align:justify;
	font-family:Arial;
	line-height:1.5em;
}

div.contribute-central p.section-title {
	font-size:20px;
	font-weight:bold;
}

div.contribute-central p.sub-section-title {
	font-size:16px;
	font-weight:bold;
	border-bottom: 1px solid #444444;
	margin-right: 40px;
	margin-bottom: 10px;	
}


div#contribute-central div.existing-nodes {
	float:left;
	position: absolute;
	margin:10px;
	width:660px;
}

div#contribute-central div.create-node {
	float:right;	
	margin:10px;
	margin-right:20px;
	width:320px;
}

div#nodes-display table{
	font-size:13px;
	text-align:justify;
	font-family:Arial;
	width: 600px;	
	border-collapse: collapse;
}

div#nodes-display tr{
	border-bottom: 1px solid #a8a8a8;
}

div#nodes-display td{
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 20px;
}


div#nodes-display a:hover, div#nodes-display a:visited, div#nodes-display a:link, div#nodes-display a:active    
{
    text-decoration: none;
}

div#contribute-central div.existing-nodes-admin {
	float:left;
	position: relative;
	margin:10px;
	width:750px;
	padding-right: 10px;
	border-right:2px solid #a8a8a8;
}

div#contribute-central div.create-node-admin {
	float:right;	
	padding-top:70px;
	padding-right:10px;
	width:220px;
	min-height: 200px;	
}

div#manage-nodes table{
	font-size:13px;
	font-family:Arial;
	width: 750px;		
	border:1px solid #a8a8a8;
	border-collapse: collapse;
}

div#manage-nodes tr.heading{
	font-size:13px;
	font-weight:bold;
	font-family:Arial;
}

div#manage-nodes td,div#manage-nodes th{
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	min-width: 90px;
}

div#manage-nodes img{
	margin: 2px;
}



/* End of contribute central*/

/* Global styles */
fieldset {
	border:0px;
	display:inline;
	padding:0px;
	margin:0px;
}

.under_line {
	border-bottom: 1px solid #444444;
}


/*
Map widget
*/
#map-widget-control-menu {
	width:95%; 
	height:50px; 
	z-index:5; 
	position:absolute; 
	top:15px; 
	left:15px; 
	background-color:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
}

#map-expander {
	width:20px;
	height:50px;
	z-index:5;
	position:absolute;
	top:45%;
	background-color:#fff;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	cursor:pointer;
}

#map-expander p{
	padding-top:75%;
	margin-top:0%;
	margin-left:2px;
}

.leaflet-container {
	/*margin-top:80px;*/
}


.map-widget-menu-item {
	position:absolute;
	height:30px;
}

div#layer-combo {
	right:10px;
	top:10px;
	position:absolute;
	width:130px;
	height:30px;
	border:1px solid black;
	cursor:pointer;
}

div#layer-selector {
	position:absolute;
	right:10px;
	top:40px;
	width:130px;
	height:60px;
	border:1px solid black;
	background-color:#fff;
	padding-top:10px;
}

div#map-widget-control-menu p {
	font-family:Arial;
	font-size:14px;
	margin-top:5px;
	margin-bottom:0px;
	text-align:center;
}

div#layer-selector p {
	margin-top:0px;
}

div#basemap-combo {
	position:absolute;
	top:10px;
	right:150px;
	width:130px;
	height:30px;
	border:1px solid black;
	cursor:pointer;
}

/*
	End of map widget
*/


/* Contribute node */
.contribute-menu-table {
	display:table;
	width:100%;
	table-layout:fixed;
	padding-left:0px;
}

.contribute-menu-table .cell {
	display:table-cell;
	padding-right:40px;
	padding-left:40px;
	font-family:Arial;
	font-size:13px;
	line-height:1.5em;
}

.contribute-menu-table .cell ul {
	list-style-type:none;
	padding-left:0px;
}

.contribute-menu-table .cell ul li {
	text-decoration:none;
}

.contribute-menu-table .cell p a {
	text-decoration:none;
	color:blue;
	font-weight:bold;
}

.contribute-menu-table .cell img {
	margin-right:10px;
}

.bordered-container {
	border-top:1px solid black;
	border-bottom:1px solid black;
	min-height:220px;

}

/* End contribute node */


/* Upload page */

#info-tip-container {
	display:table;	
	float:left;
	margin-right:20px;
}

#info-tip-container .cell {
	display:table-cell;
	padding-right:5px;
}

.upload-info-tip {
	width:180px;
	line-height:1em;
}

.upload-info-tip p {
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	display:inline;
	text-align:justify;
}

.upload-container {
	width:670px;
	display:table;
	border-collapse:separate;
	text-align:center;
}

.upload-container div.title {
	display:table-cell;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	width:100px;
	height:35px;
	padding-top:15px;
	padding-bottom:0px;
	background-color:#dadada;
}

/* End of Upload page */


/* These styles have to be re-examined for neccessity and appropriateness. */


button.highlight {
	text-decoration: none;
	background: transparent;
	border: none;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	cursor: pointer;
}


/*.control-group, .form-actions {
	width:670px;
	text-align:right;
}

.form-actions {
	margin-top: 40px;
}

.control-group {
	margin-top:20px;
	position:relative;
}

.control-group input[type="text"], .control-group textarea {
	width:460px;
	margin-left:40px;
}

.control-group input {
	height:30px;
}

.control-group textarea {
	margin-top:10px;
}

.controls, .input-prepend {
	display:inline;
}

.controls {
}*/

.align-left {
	text-align:left;
}

/*label.control-label, span.add-on, div.form-actions a {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	text-decoration:none;
}

label.control-label {
	position:absolute;
	left:60px;
	padding-top:10px;
	width:140px;
}

div.module-content form.dataset-form {
	border:1px solid #dadada;
	padding-bottom:10px;
}

div.controls select {
	width:200px;
	
	margin-top:5px;
	margin-left:40px;
	height:25px;
}

div.controls div#bbox-map {
	width: 445px;
	height: 300px;
	border: 1px solid #CCC;
	margin-left: 170px;
	padding-right: 0px;
	padding-left: 0px;
}*/

/*label[for="field-extras-0-remove"], label[for="field-extras-0-key"], 
label[for="field-extras-0-key"], label[for="field-extras-0-value"], 
input#field-extras-0-key, input#field-extras-0-value {
	display:none;
}*/
/* Must be fixed soon */


.select2-results {
	margin: 4px 4px 4px 0;
	padding: 0 0 0 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 200px;
}

.select2-results .select2-highlighted {
	background: #3875d7;
	color: #fff;
}

.select2-results li {
	list-style: none;
	display: list-item;
}

.select2-drop {
	background: #fff;
	color: #000;
	border: 1px solid #aaa;
	border-top: 0;
	position: absolute;
	top: 100%;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	-o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	z-index: 9999;
	width: 100%;
	margin-top: -1px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.slug-preview { 
	margin-top:30px;
	text-align:left;
}

.slug-preview strong {
	font-weight:normal;
	width: 514px;
	text-align: left;
	margin-top: 28px;
	margin-left: 58px;
}

.slug-preview-prefix {
	margin-left:100px;
}

.select2-choices {

}

.select2-choices li {
	list-style: none;
}

.select2-container {
	display:inline;
	width:100px;
}

li.select2-search-field input{
	width:400px;
}

.input[type="file"] {
	width: auto;
	padding: initial;
	line-height: initial;
	background-color: #ffffff;
	background-color: initial;
	border: initial;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: 28px;
	line-height: 28px;
}

.resource-upload-field input {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	margin: 0;
	border: solid transparent;
	border-width: 100px 0 0 200px;
	cursor: pointer;
	direction: ltr;
	-moz-transform: translate(-300px, 0) scale(4);
}

.resource-upload-field {
	position: relative;
	overflow: hidden;
	vertical-align: bottom;
	margin-left:35px;
}


.resource-upload-field input[type="file"] {
	top:-15px;
	right:-20px;
	direction:none;
	border-width:0 0 0 0;
	height:34px;
	width:130px;
	margin-left:0px;
}

/* CKAN styles that need to be overriden for the autocomplete to look nice */

.select2-drop {
	
}



/* END CKAN STYLES THAT NEED TO BE OVERRIDEN*/ 


.ui-menu-item a {
	font-size:14px;
}

/*
	Extras styles
*/

div.controls select {
	width:464px;
}

div.controls select[id="field-extras-0-value"] {
	margin-left:0px;
}

.control-group {
	margin-left:0px;
}
/*
	End extras styles
*/

/* User Management */

div#manage-users table{
	font-family: Arial;
	font-size: 12px;
	margin: 5px;
	width: 750px;
	border-collapse: collapse;
	text-align: left;
}

div#manage-users th{
	font-size: 13px;
	font-weight: bold;
	padding: 4px 4px;
	background: #a8a8a8;
	border-bottom: 2px solid #a8a8a8;
}

div#manage-users td{
	border-bottom: 1px solid #ccc;
	color: #000000;
	padding: 6px 8px;
}

div#manage-users td,div#manage-users th{
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
}

.ngds-button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}


.wrapper {
  *zoom: 1;
  background-color: #FFF;
  margin-left: -1px;
  margin-right: -1px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  position: relative;
  
  margin-bottom: 10px;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.wrapper:after {
  clear: both;
}
.wrapper.no-nav {
  background-image: none;
}





.module-content {
  padding: 0 25px;
  margin: 20px 0;
}
.module-content:first-child {
  margin-top: 0;
  padding-top: 20px;
}
.module-content:last-child {
  margin-bottom: 0;
  padding-bottom: 20px;
}
.module-content > :last-child {
  margin-bottom: 0;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #dddddd;
  background-color: #f6f6f6;
  height: 30px;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.page-header .nav-tabs {
  position: absolute;
  left: 20px;
  bottom: -1px;
  margin-bottom: 0;
}
.page-header .nav-tabs li.active a,
.page-header .nav-tabs a:hover {
  background-color: #ffffff;
}

.btn [class^="icon-"],
.nav [class^="icon-"],
.module-heading [class^="icon-"],
.dropdown [class^="icon-"],
.btn [class*=" icon-"],
.nav [class*=" icon-"],
.module-heading [class*=" icon-"],
.dropdown [class*=" icon-"] {
  margin-right: 4px;
}

.nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li > a > img {
  max-width: none;
}
.nav > .pull-right {
  float: right;
}

.preamble { 
	font-family: Arial;
	font-size: 16px;
	margin-top:20px;
	margin-left:10px;
}

.wms {
	display:inline;
}

.placeMarks-label {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   color: #fff;
   position:relative;
}

.leaflet-marker-iconlabel {
	background:transparent;
	border-radius:0px;
}

.flash-msg-close {
	float:right;
	text-decoration:none;
}

.close {
	float:right;
}
/*------------------------------------------------------------*/
/*----------------------Profile page--------------------------*/


/* Profile page end......... */